[buildout]
show-picked-versions = true
extends = versions.cfg
versions = versions
parts = django
unzip = true

find-links =
    http://pypi.auf.org/simple/auf.django.auth
    http://pypi.auf.org/simple/auf.django.mailing
    http://pypi.auf.org/simple/auf.django.references
    http://pypi.auf.org/simple/auf.django.permissions
    http://pypi.auf.org/simple/auf.django.piwik
    http://pypi.auf.org/simple/auf.recipe.django
    http://pypi.auf.org/simple/auf.django.pong
eggs =
    auf.django.auth
    auf.django.pong
    django-cms
    auf.django.references
    auf.django.mailing
    django-crispy-forms
    raven
    reportlab
    South
    django-sendfile
    auf.django.permissions
    auf.django.piwik
    python-memcached
    django-tinymce

[django]
recipe = auf.recipe.django
wsgi = true
settings = production
extra-paths = project
eggs = ${buildout:eggs}
project = ag
