#corp { width: 940px; max-width:940px; background-color: #c3b077;}
#corp a { color: #A90F30; text-decoration: none; }
#corp .uniForm { background: none; background-color: #efe9d4; border: none; color: #3e3d3e; }
#corp .formulaire { text-align: left; background: #fff; border: none; padding:20px; margin-bottom: 20px; }
#corp .uniForm .buttonHolder { background-color: #fff; border: none; }
#corp .uniForm .buttonHolder label { margin: 4px; font-size: 1.1em; }
#corp .formulaire input.primaryAction { 
	float: right;    
	text-decoration: none;
    background-color: #76C931;
    border: none;
    padding: 10px 20px;
    margin: 10px 0 2px 0;
    color: #363636;
    font-size: 14px;
    text-shadow: 0 1px 1px #E8E8E8;
    transition: all 0.2s linear;
    }
#corp .formulaire input.secondaryAction { 
	float: left;    
	text-decoration: none;
    background-color: #FFFF99;
    border: none;
    padding: 10px 20px;
    margin: 10px 0 2px 0;
    color: #363636;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 1px #E8E8E8;
    transition: all 0.2s linear;
    }
    
#corp .formulaire input[type=submit]:hover.primaryAction {
 box-shadow: 0 1px 1px #FFF inset, 0 0 0 5px #E0E0E0;
}
#corp .formulaire .inline-radio label { display: inline !important; float: left;  margin-bottom: 10px; }
#corp .formulaire .inline-radio li { padding: 0px; }
#corp .intro { clear: both; }
#corp .message { background-color: aliceblue; margin-bottom: 20px; padding: 20px; }
#corp .attention { background-color: #FFFF99; margin-bottom: 20px; padding: 20px; }
#corp .erreur { background-color: #FFDFDF; margin-bottom: 20px; padding: 20px; }

.uniForm .inlineLabels ul {
	width:50%;
	text-align: left;
	}

.uniForm .ctrlHolder {
	padding: 7px 5px 9px 5px;
	border: none;
}

#holder_prise_en_charge_hebergement ul {
	width: 100%;
}

#corp .intro ul { width: 100%; }

form hr { 
	color: #f9f7f1; 
	border-top: 1px solid #c3b077; 
	border-left: 1px solid #c3b077; 
}

form h2 {
text-decoration: none;
padding: 10px 0;
margin: 24px 0px 20px 0px;
}

.formulaire > h2:first-of-type {
margin-top: 0px;
}

#corp form h3 {
font-size: 18px;
margin: 24px 0 20px 0;
text-decoration: none;
padding: 8px 0 8px 0;
}

form h4 {
font-size: 14px;
text-decoration: none;
margin: 18px 0 12px 0;
padding: 10px 0 12px 0;
}

.ctrlHolder .Label {
	position: relative;
	top: 15px;
	left: 0px;
}

#corp .apercu div.Label {
    left: 0px;
    top: 0px;
    width: 40%;
    float: left;
    background-color: aliceblue;
}


#corp .apercu div.Data {
    /* font-family: Tahoma, Arial, Verdana, sans-serif; */
    float: right;
    /* position: relative; */
    /* left: 250px; */
    width: 60%;
    text-align: left;
}


#holder_identite_confirmee, #holder_conditions_acceptees{
	font-size: 13px;
}

.contents #etapes {
	width: 940px;
}

.contents #etapes li {
	font-size: medium;
	display: inline-block;
    margin-right: 10px;
    padding-left: 20px;
    background: url(img/bt-next.png) left no-repeat;
    background-position: -8px;
}

.contents .etape_courante {
	font-weight: bold;
	color: #a81835 !important;
}
#holder_accompagnateur label {width:100%;}
#holder_type_chambre_hotel {}
#holder_date_arrivee_hotel {}
#holder_date_depart_hotel {}

.ui-datepicker {font-size: smaller;}

.prix {
	float: right;
	width: 10%;
	font-size:16px;
	font-weight: bold;
	text-align: right;
}

.total {
	float: right;
	width: 10%;
	font-size:20px;
	text-align: right;
}

.detail {
	color: #a58e49;
}

.calcul fieldset {
	border-bottom: 1px solid #EFEFEF;
}

.calcul .formHint{
	color: #242424;
	float: right;
	width: 10%;
	font-size:14px;
  	font-style: normal;
  	font-weight:bold;
  	text-align: right;
}

.selectPaiement ul {
	width: 30%;
}

.infoPaiement {
	float: right;
	width: 60%;
	color: #555;
	margin-top: 5px;
}

#tableBanque {
	width: 60%;
	float: right;
	font-size: 12px;
	color: #555;
	background-color: #ebebeb;
}

#tableBanque td {
	padding: 5px 10px 5px 10px;
	border-color: #999;
}


.PrintMessage p {
	width: 500px;
	float: left;
}
	
.erreur h4 {color:#a81835; padding: 10px 0 10px 0;}
.succes h4 {color:green;}


#confirmation{
	overflow: hidden;
}

#bouton_invitation a {
	z-index: 10;
	display: block;
	margin: 10px 20px 20px 20px;
	text-align: center;
	padding: 10px 0px 32px 0px;
    color: #fff;
	font-weight: bold;
    background: #7db41a url(img/invit.png) bottom center no-repeat;
}

#bouton_invitation a:hover {
	color: white;
	background: #7db41a url(img/invito.png) bottom center no-repeat;
}

#Imprimer {
	float: right;
	margin-top: 4px;
}
#header_print {display:none;}
#conditions_print {display:none;}

#liste_adresses {
	width: 420px;
}
#invite_mails {
	padding-left: 20px;
	width: 350px;
}

#accompagnateurs {
	float: right;
	padding-left: 20px;
	width: 350px;
	border-top: 1px solid #EFEFEF !important;
	border-left: 1px solid #EFEFEF !important;
}

#accompagnateurs h3 {
	margin-top: 0;
}

#accompagnateurs ul {
	margin-left: 0;
}

	
#accompagnateurs ul li {
	margin-bottom: 0;
	margin-left: 0;
	background: url(img/puce.png) left no-repeat;
	padding-top: 5px;
}

#accompagnateurs ul li div {
	position: relative;
}

.indice {
	 left: 180px; 
	 top: -12px; 
	 color: grey; 
	 font-size: 12px;
}

.bouton {
	background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #AAAAAA;
    color: #363636;
    cursor: pointer;
    font-size: 14px;
    margin: 10px 0 2px;
    padding: 6px 8px;
    transition: all 0.2s linear 0s;
}

.Invites {
padding: 22px;
background: url(img/fond2.jpg);
border: 1px solid #CCC;
}



@media print {
	#top, #baseline3, #baseline4, #footer, #logoligne, #etapes, #bouton_invitation, #confirmation { display: none; }
  h1,h2,h3 { display: block; margin: 10px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	#titre { display: none; }
	#corp p { font-size: 14pt; }
	#message { display: none; }
	.message { display: none; }
    #header_print { display:inline; width: 100%;}
    #header_print img { border:none; height:80px;}
    #content form { background-color:transparent;}
    #recap {padding:0 25px;}
    h2 { margin-top: 20px; font-size: 18px; border:none;}
	h3 { margin-top: 10px; font-size: 16px; border-top:1px solid #FFFFFF;}
	.uniForm .ctrlHolder { padding: 0; border-bottom: 1px solid #EFEFEF;}
	div .Data { left: 200px; width: 600px; top:-15px; font-size: 13px; }
	div .Label { top:5px; font-size: 13px; }
	div .ctrlHolder {font-size: 13px; }
    div .ctrlHolder, div .Label, div .Data { top: 0px; line-height: 1,2; padding: 0 0 0 0; margin: 0 0 0 0; border: none; }
    #conditions_print { display: block; margin: 20px 0 0 0; border-top: solid 1px; page-break-before: always; }
    #conditions_print h1 { display: block; font-size: 13px; line-height: 1 }
    #conditions_print h2 { font-size: 12px; margin: 10px 0 0 0; padding: 5px 0 0 0;}
    #conditions_print p { font-size:12px;}
    #conditions_screen { display: none; }
    form.Invites { display: none; }
    .buttonHolder { display: none; }
}



