#corp { width: 940px; max-width: 940px;}
#corp a { color: #A90F30; text-decoration: none; }
.clair:after{
    clear: both;
    content: "";
    display: block;
}
#corp .uniForm { background: none; background-color: #efe9d4; border: none; color: #3e3d3e; }
#corp .formulaire { text-align: left; background: #fff; border: none; padding:20px; margin-bottom: 20px; }
#corp .uniForm .buttonHolder { background-color: #fff; border: none; }
#corp .uniForm .buttonHolder label { margin: 4px; font-size: 1.1em; }
#corp .formulaire input.primaryAction, #corp #butt-paypal input.primaryAction { 
	float: right;    
	text-decoration: none;
    background-color: #76C931;
    border: none;
    padding: 10px 20px;
    margin: 10px 0 2px 0;
    color: #363636;
    font-size: 14px;
    text-shadow: 0 1px 1px #E8E8E8;
    transition: all 0.2s linear;
    }
#corp .formulaire input.secondaryAction { 
	float: left;    
	text-decoration: none;
    background-color: #FFFF99;
    border: none;
    padding: 10px 20px;
    margin: 10px 0 2px 0;
    color: #363636;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 1px #E8E8E8;
    transition: all 0.2s linear;
    }
    
#corp .formulaire input[type=submit]:hover.primaryAction {
 box-shadow: 0 1px 1px #FFF inset, 0 0 0 5px #E0E0E0;
}
#corp .formulaire .inline-radio label { display: inline !important; float: left;  margin-bottom: 10px; }
#corp .formulaire .inline-radio li { padding: 0px; }
#corp .intro { clear: both; }
#corp .message { background-color: aliceblue; margin-bottom: 20px; padding: 20px; }
#corp .attention { background-color: #FFFF99; margin-bottom: 20px; padding: 20px; }
#corp .erreur { background-color: #FFDFDF; margin-bottom: 20px; padding: 20px; }

#corp .attention h3 { padding: 0; margin: 5px 0 0 0; }

.uniForm .inlineLabels ul {
	width:50%;
	text-align: left;
	}

.uniForm .ctrlHolder {
	padding: 7px 5px 9px 5px;
	border: none;
}

#holder_prise_en_charge_hebergement ul {
	width: 100%;
}

#corp .intro ul { width: 100%; }

form hr { 
	color: #f9f7f1; 
	border-top: 1px solid #c3b077; 
	border-left: 1px solid #c3b077; 
}

#corp h1 { font-size: 1.8em;}

#corp h2 {
text-decoration: none;
font-size: 1.3em;
margin: 24px 0px 20px 0px;
}

.formulaire > h2:first-of-type {
margin-top: 0px;
}

#corp h3 {
	font-size: 1.1em;
	text-decoration: none;
	background: none;
	color: #A90F30;
}

#corp h4 {
font-size: 14px;
text-decoration: none;
margin: 18px 0 12px 0;
padding: 10px 0 12px 0;
}

.ctrlHolder .Label {
	position: relative;
	top: 15px;
	left: 0px;
}

#corp .apercu div.Label {
    left: 0px;
    top: 0px;
    width: 40%;
    float: left;
    background-color: aliceblue;
}


#corp .apercu div.Data {
    /* font-family: Tahoma, Arial, Verdana, sans-serif; */
    float: right;
    /* position: relative; */
    /* left: 250px; */
    width: 60%;
    text-align: left;
}


#holder_identite_confirmee, #holder_conditions_acceptees{
	font-size: 13px;
}

.contents #etapes {
	width: 940px;
}

.contents #etapes li {
	font-size: medium;
	display: inline-block;
    margin-right: 10px;
    padding-left: 20px;
    background: url(img/bt-next.png) left no-repeat;
    background-position: -8px;
}

.contents .etape_courante {
	font-weight: bold;
	color: #a81835 !important;
}
#holder_accompagnateur label {width:100%;}
#holder_type_chambre_hotel {}
#holder_date_arrivee_hotel {}
#holder_date_depart_hotel {}

.ui-datepicker {font-size: smaller;}

.prix {
	float: right;
	width: 10%;
	font-size:16px;
	font-weight: bold;
	text-align: right;
}

#total_frais_inscription {
	float: right;
	width: 10%;
	font-size:20px;
	text-align: right;
	color: black;
}

.total {
	
}

.detail {
	color: #a58e49;
}

.calcul fieldset {
	border-bottom: 1px solid #EFEFEF;
}

.calcul .formHint{
	color: #242424;
	float: right;
	width: 10%;
	font-size:14px;
  	font-style: normal;
  	font-weight:bold;
  	text-align: right;
}

.selectPaiement ul {
	width: 30%;
}

.infoPaiement {
	float: right;
	width: 60%;
	color: #555;
	margin-top: 5px;
}



#tableBanque {
	width: 60%;
	float: right;
	font-size: 12px;
	color: #555;
	background-color: #ebebeb;
}

#tableBanque td {
	padding: 5px 10px 5px 10px;
	border-color: #999;
}


.PrintMessage p {
	width: 500px;
	float: left;
}
	
.erreur h4 {color:#a81835; padding: 10px 0 10px 0;}
.succes h4 {color:green;}


#confirmation{
	overflow: hidden;
}

#bouton_invitation a {
	z-index: 10;
	display: block;
	margin: 10px 20px 20px 20px;
	text-align: center;
	padding: 10px 0px 32px 0px;
    color: #fff;
	font-weight: bold;
    background: #7db41a url(img/invit.png) bottom center no-repeat;
}

#bouton_invitation a:hover {
	color: white;
	background: #7db41a url(img/invito.png) bottom center no-repeat;
}

#Imprimer {
	float: right;
	margin-top: 4px;
}
#header_print {display:none;}
#conditions_print {display:none;}

#liste_adresses {
	width: 420px;
}
#invite_mails {
	padding-left: 20px;
	width: 350px;
}

#accompagnateurs {
	float: right;
	padding-left: 20px;
	width: 350px;
	border-top: 1px solid #EFEFEF !important;
	border-left: 1px solid #EFEFEF !important;
}

#accompagnateurs h3 {
	margin-top: 0;
}

#accompagnateurs ul {
	margin-left: 0;
}

	
#accompagnateurs ul li {
	margin-bottom: 0;
	margin-left: 0;
	background: url(img/puce.png) left no-repeat;
	padding-top: 5px;
}

#accompagnateurs ul li div {
	position: relative;
}

.indice {
	 left: 180px; 
	 top: -12px; 
	 color: grey; 
	 font-size: 12px;
}

.bouton {
	background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #AAAAAA;
    color: #363636;
    cursor: pointer;
    font-size: 14px;
    margin: 10px 0 2px;
    padding: 6px 8px;
    transition: all 0.2s linear 0s;
}

.Invites {
padding: 22px;
background: url(img/fond2.jpg);
border: 1px solid #CCC;
}

/***************************   CODE MON DOSSIER   *********************************/

#bloc-1 p {
    margin-left:10px;
}
.bloc-1 {clear:both; overflow:auto; margin-left: 146px;}

.info-participant {
    width :49%;
    float:left;
    margin-right:20px;
    padding:10px;
    background-color: #efe9d4;
    
}
.info-participant h3 {
    margin-bottom:0;    
}

.info-participant p {
    margin-top: 0;
    
}

#adresse-container {
	background-color: white;
	padding: 5px;
	margin:5px;
}

#adresse-container .bouton_sub {
	float: right;
	position: relative;
	bottom: 30px;
	right:5px;
}

.statut-dossier {
    width: 43%;
    float: left;
    background-color: aliceblue;
    padding: 10px;
}

.statut-dossier ul li {
	list-style: none;
	background: none;
	margin: 0 0 18px 10px;
	color: #ccc;
}

.statut-dossier .complet {
	font-weight: bold;
    color: green;
    background: url("/static/img/icon_success.gif") no-repeat scroll left center transparent;
}

.statut-dossier .documentpdf {
    color: #A90F30;
    text-decoration: underline;
    background: url("/static/img/pdf.png") no-repeat scroll left center transparent;
}


.bloc-paiement, .bloc-planvol, .bloc-hebergement, .bloc-activites, .bloc-reseautage, .bloc-accompagnateur {
    float:left;
    clear:both;
    padding:10px;
    margin:20px 0 20px 146px;
    background-color: #efe9d4;
}
.bloc-paiement .intro, .bloc-planvol .intro, .bloc-hebergement .intro, .bloc-activites .intro, .bloc-reseautage .intro, .bloc-accompagnateur .intro {
    padding: 0 20px 0 0;
}

#corp .bloc-paiement h3, #corp .bloc-planvol h3, #corp .bloc-hebergement h3, #corp .bloc-activites h3, #corp .bloc-reseautage h3, #corp .bloc-accompagnateur h3 {
    padding: 0; 
    margin: 5px 0 0 0;
}

#butt-paypal {
	
}

.ui-tabs span {
    font-size: 0.9em;
    font-family: open sans;
    padding: 15px;
}

.important, .ui-tabs .important {
	font-weight: bold;
	color: #A90F30;
	padding-left: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right {
    margin: 0;
    padding: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.ui-corner-all, .ui-widget-header, .ui-widget-content .ui-state-default,  .ui-widget-header .ui-state-default   {
	border: 0 !important;
}
.ui-corner-all, .ui-widget-header, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active   {
	border: 0 !important;
	background: none;
	background-color: white;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover   {
	background: none;
	background-color: #A90F30;
}
.ui-widget-header {
	background: none;
	background-color: #efe9d4;
}
.ui-tabs .ui-tabs-nav {
    padding: 0;
}
.ui-tabs .ui-tabs-nav li {
    margin-right: 5px;
}

.bloc-accompagnateur form {
    padding: 15px;
    background-color: white;
}

.bloc-accompagnateur table {
    margin: 0;
    padding: 0;
}
.bloc-accompagnateur td {
    border: 1px solid #ccc;
    padding: 10px 5px 10px 10px;
}

.bloc-accompagnateur .add-row:before {
    clear: both;
    content: "";
    display: block;
    height: 10px;
}

.bloc-accompagnateur tfoot td {
    vertical-align: middle;
    border: none;
    padding: 0;
    height:30px;
    text-align: right;
}

.bloc-accompagnateur .bouton_sub {
    margin: 0;
}

.bloc-activites {

}

.bloc-activites #liste-activites {
	margin: 0 30px 20px 10px;
	float:left;
}
.bloc-activites #liste-forfaits {
	margin: 0 20px 20px 3px;
	float:right;
}

.bloc-activites ul {
	margin: 10px 0 0 0;
}

.bloc-activites ul li {
	list-style: none;
    line-height: 15px;
    background: none;
    text-decoration: line-through;
    
}

.bloc-activites .oui {
	background: url("/static/img/icon_success.gif") no-repeat scroll left center transparent;
	text-decoration: none;
}

nav.page-navigation {
    width: 143px;
    position: fixed;
    top: 215px;
    background-color: #ccc;
    padding: 2px;
    
}
nav.page-navigation li {
    width: 100%;
    line-height: 30px;
    margin-bottom: 2px;
    background-color: #A90F30;
}
nav.page-navigation a {
    padding: 10px;
    width: 100%;
    color: white;
    text-decoration: none;
}
nav.page-navigation li:hover {
    background-color: #efe9d4;
}
nav.page-navigation a:hover {
    color: #A90F30
}



/***************************   IMPRIMER   *********************************/

@media print {
	#top, #baseline3, #baseline4, #footer, #logoligne, #etapes, #bouton_invitation, #confirmation { display: none; }
  h1,h2,h3 { display: block; margin: 10px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	#titre { display: none; }
	#corp p { font-size: 14pt; }
	#message { display: none; }
	.message { display: none; }
    #header_print { display:inline; width: 100%;}
    #header_print img { border:none; height:80px;}
    #content form { background-color:transparent;}
    #recap {padding:0 25px;}
    h2 { margin-top: 20px; font-size: 18px; border:none;}
	h3 { margin-top: 10px; font-size: 16px; border-top:1px solid #FFFFFF;}
	.uniForm .ctrlHolder { padding: 0; border-bottom: 1px solid #EFEFEF;}
	div .Data { left: 200px; width: 600px; top:-15px; font-size: 13px; }
	div .Label { top:5px; font-size: 13px; }
	div .ctrlHolder {font-size: 13px; }
    div .ctrlHolder, div .Label, div .Data { top: 0px; line-height: 1,2; padding: 0 0 0 0; margin: 0 0 0 0; border: none; }
    #conditions_print { display: block; margin: 20px 0 0 0; border-top: solid 1px; page-break-before: always; }
    #conditions_print h1 { display: block; font-size: 13px; line-height: 1 }
    #conditions_print h2 { font-size: 12px; margin: 10px 0 0 0; padding: 5px 0 0 0;}
    #conditions_print p { font-size:12px;}
    #conditions_screen { display: none; }
    form.Invites { display: none; }
    .buttonHolder { display: none; }
}



