{% load cms_tags sekizai_tags menu_tags %}
<!DOCTYPE HTML>
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Ag 2013" />
  <meta name="author" content="AUF" />
  <meta name="google-translate-customization" content="348cc25c484ffe60-c257e7d0f621ac72-gc4a750e733277c46-20"/>
  <title>Assemblée générale 2017</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico">
  <link href="{{ STATIC_URL }}style.css?v=1" rel="stylesheet" type="text/css" media="screen" />
  <link href="{{ STATIC_URL }}style_print.css?v=1" rel="stylesheet" type="text/css" media="print" />
  {% render_block "css" %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/i18n/jquery-ui-i18n.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/site.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.form.js"></script>
  <script type="text/javascript"  src="{{ STATIC_URL }}js/activites_scientifiques.js"></script>
  <script src="{{ STATIC_URL }}scripts/jquery.bxSlider.min.js" type="text/javascript"></script>
  <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{ STATIC_URL }}scripts/innershiv.min.js"></script>
  <![endif]-->
  <!--[if IE 6]><script type="text/javascript" src="scripts/DD_belatedPNG_0.0.8a-min.js"></script><![endif]-->
  <!--[if lt IE 8]><script src="{{ STATIC_URL }}scripts/font.js"></script><![endif]-->
  <!--[if lte IE 8]> <link type="text/css" href="{{ STATIC_URL }}styleIE.css" rel="stylesheet"><![endif]-->
  {% render_block "js" %}
  {% block extrahead %}{% endblock %}
</head>
<body>
{% cms_toolbar %}

	<!-- PARTIE LOGO ET TEXTE-->
	<div id="baseline">
	     <div id="baseline-center">
        
        	<div id="logoligne">
                <div id="logo">
                  <a href="{% url "accueil" %}">
                    <img src="{{ STATIC_URL }}img/logo.jpg"
                         alt="Logo AUF"></a>
                </div>
               	<nav id="top2">

		    <ul>
		       <li class="home"><a href="{% url "accueil" %}"><img src="{{ STATIC_URL }}img/accueil.png"></a></li>
		        {% show_menu 0 1 100 100 %}
		    </ul>
		    
				
		    <div style="clear: both;"></div>
		    
	      	</nav>
     		</div>
          </div>    
    </div>
 
    <!-- PARTIE MENU ET DIAPORAMA-->

<!-- menu -->

   <div id="top2-header">

    	
		
        
        {% block diapo %}
    	{% endblock %}
 

     </div>
    
    <!-- PARTIE CENTRALE -->
    <div class="contents">
    
    	<!-- partie centrale -->
        <div id="corp">
          {% block content %}
          {% endblock %}
      	</div>
        
        <!-- sidebar -->
		{% block sidebar %}
            <div id="sid">

                {% if request.current_page.reverse_id != "accueil" and request.current_page.get_root.children.all %}
                <div class="box">
                     <h2>{% page_attribute "title" request.current_page.get_root %}</h2>
                     <ul>
                        {% show_menu 1 100 0 100 %}
                    </ul>
                </div>
                {% endif %}
            
                <div class="box">
                     <h2>Accès rapide</h2>
                     {% if  mot_list2 %}
                        {% for item in mot_list2 %}
                            <p><a href="{% page_url "paroles" %}#{{ item.recteur|truncatewords_html:1 }}"><img class="flott" src="{{ MEDIA_URL }}{{ item.image }}" width="94" height="122" alt="{{ item.recteur }}"></a>
                            <a href="{% page_url "paroles" %}#{{ item.recteur|truncatewords_html:1 }}">“{{ item.message|striptags|safe|truncatewords_html:60 }}”</a></p>
                            <p><a href="{% page_url "paroles" %}#{{ item.recteur|truncatewords_html:1 }}"><strong>{{ item.recteur }}</strong> <br>{{ item.fonction }}</a></p>
                        {% endfor %}
                    {% else %}
                        <p>Pas de mot</p>
                    {% endif %}
                </div>         
       
                <div class="box">


		<a class="twitter-timeline" href="https://twitter.com/auf_org"  height="450" >Suivez nous sur Twitter @auf_org</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8" ></script>
                    <!--<h2>Vidéo à la une </h2>
                    {% if video_list %}
                        {% for item in video_list %}
                            <div class="video">{{ item.video|safe }}</div>
                        {% endfor %}
                    {% else %}
                        <div class="video"><iframe width="280" height="161" src="http://www.dailymotion.com/embed/video/xmklf5?logo=0&hideInfos=1"></iframe></div>
                    {% endif %}-->
                </div>    
                 
               
            </div>
		{% endblock %}        
	</div>


<!--
 <div class="partenaire-frame">
 <div class="partenaire">
                    <h2>Partenaires</h2>
                    {% if  partenaire_list %}
                        {% for item in partenaire_list %}
                            <div class="comman"><a href="{{ item.lien }}" target="_blank"><img src="{{ MEDIA_URL }}{{ item.image }}" alt="{{ item.nom }}"></a></div>
                        {% endfor %}
                    {% else %}
                        <p>Pas de partenaire</p>
                    {% endif %}
                </div>                
         </div>
-->

        <div id="footer-wrap">  
{% block footer %}    
  	<!-- PARTIE FOOTER-->
        <footer id="footer">

 	<ul>
		<li><a href="/plan-du-site/">Plan du site</a> </li>
		<li><a href="http://www.auf.org" target="_blank">Visiter le site institutionnel de l'AUF</a> </li>
		<li><a href="/mentions-legales/">Mentions légales</a></li>
		<li><a href="/contacts/" >Contact</a></li>
		<li>© AUF 2016 Tous droits réservés</li>
	</ul>

    

<span class="MS-icons">

<a href="https://twitter.com/auf_org" target="_blank"><img src="https://www.auf.org/media/adminfiles/Twitter.png" alt="Twitter" /></a>
              <a href="https://www.facebook.com/aufinternational" target="_blank"><img src="https://www.auf.org/media/adminfiles/Facebook.png" alt="Facebook" /></a>
</span>
</p>

   
        </footer>
{% endblock %}
</div>
{% block extra_js %}
{% endblock %}
</body>
