{% extends "base.html" %}
{% load i18n %}

{% block langue %}
<!--<div class='selectBox'>
              	<span class='selected'>Sélectionner une langue</span>
              	<span class='selectArrow'></span>
              	<div class="selectOptions" >
                             <a href="/?langue=francais"><span class="selectOption">Français</span></a>
                             <a href="/?langue=english"><span class="selectOption">English</span></a>
                             <a href="/?langue=espanol"><span class="selectOption">Español</span></a>
                             <a href="/?langue=portugues"><span class="selectOption">Português</span></a>
                             <a href="/?langue=arabe"><span class="selectOption">Arabe</span></a>
              	</div>
</div>-->
{% endblock %}

{% block diapo %}
  <ul id="diapo" class="bxslider">
    {% if  slider_list %}
      {% for item in slider_list %}
        <li class="image">
          <img src="{{ MEDIA_URL }}{{ item.image }}">
          <div class="note"><a href="{{ item.lien }}">{{ item.titre|safe }}</a>
          </div>
        </li>

      {% endfor %}
    {% else %}
      <p>Pas de slider</p>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}

<h1>Assemblée générale 2017</h1>

    <p>Mesdames, messieurs les rectrices, recteurs, présidentes, présidents, 
    directrices, directeurs d’établissements</p>
    <p>L'Assemblée générale de l’AUF se tiendra à Marrakech du 10 au 12 mai 
    2017.</p>
    <p>Votre présence est la garantie que les échanges qui auront lieu, et les 
    décisions qui seront prises, seront l’écho de vos préoccupations majeures et 
    apporteront les réponses que vous pourrez attendre de notre action collective, 
    de cette « solidarité » active au cœur de notre histoire et de notre culture 
    partagées.</p>
    <p>Nous vous attendons nombreux!</p>


<!-- à remettre avec texte president 
<div class="edito">
<img style="float:left;" src="/static/img/president-rond.jpg" alt="Président de l'AUF">
<span class="signature">Abdellatif Miraoui, Président de l'AUF</span></div>
<div class="edito">
<img style="float:left;" src="/static/img/recteur-rond.jpg" alt="Recteur de l'AUF"> <span class="signature">Jean-Paul de Gaudemar, Recteur de l'AUF</span></div>
-->

{% endblock %}
