<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//FR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
	<title>Confirmation de participation à la 16e assemblée générale de l'Agence Universitaire de la Francophonie</title>
<style type="text/css">
</style></head>
<body lang="fr-CA" dir="LTR" leftmargin="10px" marginwidth="10px" topmargin="10px" marginheight="10px" offset="0">
	<table width="100%" border="0" cellpadding="20" cellspacing="0" font-face="Georgia, Times New Roman, Times, serif">
		<col width="87*"></col><col width="169*"></col>
		<tr>
			<td colspan="2" width="100%" valign="TOP" bgcolor="#333333">
				<p align="JUSTIFY" style="align: justify;font-color: #242424;font-face: Georgia, Times New Roman, Times, serif; font-weight: normal;font-size: 16px;text-decoration: none;"><img src="https://ag2013.auf.org/static/img/logo.png" name="ag2013" vspace="0" width="658" height="111" border="0"></p>
			</td>
		</tr>

		<tr>
			<td colspan="2" width="100%" valign="TOP" bgcolor="#efefef">
<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">Madame,<br>
Monsieur,
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">Nous avons le plaisir de vous confirmer votre participation à la 16e assemblée générale de l'Agence universitaire de la Francophonie (AUF), qui se tiendra du 7 au 10 mai 2013 à São Paulo, Brésil.
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">Nous vous invitons à consulter le site Internet dédié à la 16e assemblée générale sur <a style="font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; color: red; font-size: 16px; text-decoration: none" href="www.ag2013.auf.org">www.ag2013.auf.org</a> pour prendre connaissance du programme prévisionnel et des informations pratiques liées à votre participation à cet évènement.
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">Par ailleurs, si votre transport et/ou votre hébergement est pris en charge par l'AUF et que vous souhaitez disposer d'informations complémentaires à ce sujet, merci d'entrer en contact avec votre correspondant régional, dont les coordonnées sont disponibles à la rubrique <a style="font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; color: red; font-size: 16px; text-decoration: none" href="www.ag2013.auf.org/faq">« Tout sur l'AG »</a> du site de l'assemblée générale, ou d'écrire à l'adresse électronique <a style="font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; color: red; font-size: 16px; text-decoration: none" href="mailto:ag2013@auf.org?subject=ag2013%20Inscription">ag2013@auf.org</a>.
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">
				Au plaisir de vous retrouver à São Paulo.
				</p>
			</td>
		</tr>
		<tr valign="TOP">
			<td width="230px" height="127" bgcolor="#333333" valign="top">
				<p style="align: justify; font-color: #efefef; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;"><a href="https://ag2013.auf.org" target="_blank" style="color: #7E0321; text-decoration: none;"><img src="https://ag2013.auf.org/static/img/logo2.png" name="images2" vspace="0" width="205" height="106" border="0"></a></p>
			</td>
			<td width="100%" bgcolor="#333333" valign="middle">
				<p style="font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; color: #efefef; font-size: 14px; text-decoration: none;" href="mailto:ag2013@auf.org?subject=ag2013%20Inscription">AG2013 - Services des affaires institutionnelles<br>
			Téléphone : +1 514 343 66 30 poste 1234<br>
			<a style="font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; color: #efefef; font-size: 14px; text-decoration: underline" href="mailto:ag2013@auf.org?subject=ag2013%20Inscription">ag2013@auf.org</a>.
			</p>
			</td>
		</tr>
	</table>
</body>
</html>
