<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//FR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8"> 
	<title>*** RAPPEL *** Inscription à la 16e assemblée générale de l'Agence Universitaire de la Francophonie</title>
<style type="text/css">
</style></head>
<body lang="fr-CA" dir="LTR" leftmargin="10px" marginwidth="10px" topmargin="10px" marginheight="10px" offset="0">
	<table width="100%" border="0" cellpadding="20" cellspacing="0" font-face="Georgia, Times New Roman, Times, serif">
		<col width="87*"></col><col width="169*"></col>
		<tr>
			<td colspan="2" width="100%" valign="TOP" bgcolor="#333333">
				<p align="JUSTIFY" style="align: justify;font-color: #242424;font-face: Georgia, Times New Roman, Times, serif; font-weight: normal;font-size: 16px;text-decoration: none;"><img src="https://ag2013.auf.org/static/img/logo.png" name="ag2013" vspace="0" width="658" height="111" border="0"></p>
			</td>
		</tr>

		<tr>
			<td colspan="2" width="100%" valign="TOP" bgcolor="#efefef">
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: bold; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">*** RAPPEL ***<br>16e assemblée générale de l'Agence universitaire de la Francophonie
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">Cher(e)
				collègue,
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">En
				votre qualité de <u>responsable d'un établissement membre
				de l'Agence universitaire de la Francophonie (AUF)</u>, j’ai le
				plaisir de vous inviter à vous inscrire à sa 16<sup>e</sup> assemblée
				générale qui se tiendra à <strong>Sao Paulo (Brésil) du 7 au 10 mai
				2013.</strong>
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">Plusieurs
			 	échanges et débats auront lieu à l'occasion de cette 16<sup>e</sup>
				assemblée générale, qui sera un des rares forums
				universitaires au monde à pouvoir réunir des représentants de
				98 pays où l'Agence compte un de ses 786 établissements
				membres. Je vous invite à vous rendre sur le site <a href="https://ag2013.auf.org" TARGET="_blank" style="color: #7E0321;text-decoration: none;">www.ag2013.auf.org</a>
				pour prendre connaissance du programme prévisionnel complet et
				du projet d'ordre du jour.
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">Il
				vous est possible de participer à cette assemblée générale
				accompagné d'un ou de plusieurs responsables de votre
				établissement. Si vous ne
				pouvez ou ne souhaitez pas participer en personne à cet
				important événement, sachez que vous pouvez mandater un
				représentant de votre établissement pour vous y représenter.
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">Il
				m’appartient de vous rappeler que, conformément aux statuts de
				l’Agence, seuls les membres à jour de leur cotisation peuvent
				être représentés à l'assemblée générale et participer à
				ses travaux.
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">En
				anticipant le plaisir de vous retrouver lors de cette 16<sup>e</sup> assemblée générale,
				je vous prie d’agréer, cher(e) collègue, mes salutations les
				plus chaleureuses.
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;"><strong>Yvon Fontaine</strong><br>
				Président de l'Agence universitaire de la Francophonie
				</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" width="100%" valign="TOP" class="formulaire" style="background-color: #DBDBDB;border-top: solid 1px #CCC;border-bottom: solid 1px #EFEFEF;">
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">Le
				formulaire d'inscription en ligne pour vous ou votre représentant
				mandaté est disponible en cliquant sur le lien suivant&nbsp;:<br><br><strong>&rarr; &nbsp;</strong>
				<a href="{{ url }}" style="color: #7E0321;text-decoration: none;">{{ url }}</a><br><br>
				<em><strong>Attention !</strong> Ce lien est 
				strictement confidentiel et ne concerne que le représentant mandaté 
				par l'établissement : <strong>{{ nom_etablissement }}</strong>.<br>
				<br>Une fois votre inscription <strong>complétée</strong>, vous aurez la possibilité 
				d'envoyer les invitations à vos accompagnateurs. Ils recevront 
				dès lors un message par courriel qui leur permettra de s'inscrire à leur tour.
<br><br>Notez bien que ce rappel vous est adressé dans le cas où vous n'auriez pas encore pris connaissance du formulaire ou finalisé votre inscription.</em>
				<br><hr>
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">
				<font color="red"><strong>La date limite d'inscription est fixée au 1er mars 2013, délai de rigueur. </strong> </font>
				<br>En cas de difficulté à vous inscrire en ligne, merci de télécharger et de remplir <a href="https://ag2013.auf.org/static/pdf/Inscription-AG-AUF2013.pdf" TARGET="_blank" style="color: #7E0321;text-decoration: none;">le formulaire d'inscription papier</a> ou de contacter le service des affaires institutionnelles de l'AUF à l'adresse électronique <a href="mailto:ag2013@auf.org?subject=ag2013%20demande%20d%27inscription&body=Le%20nom%20de%20votre%20établissement%20%3A%0AÊtes-vous%20le%20représentant%20mandaté%20de%20votre%20établissement%3F%20%3A%0ASur%20quels%20aspects%20pouvons-nous%20vous%20renseigner%3F%20%3A" style="color: #7E0321;text-decoration: none;">ag2013@auf.org</a>
				</p>
			</td>
		</tr>
		<tr valign="TOP">
			<td width="230px" height="127" bgcolor="#333333" valign="top">
				<p style="align: justify; font-color: #efefef; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;"><a href="https://ag2013.auf.org" target="_blank" style="color: #7E0321; text-decoration: none;"><img src="https://ag2013.auf.org/static/img/logo2.png" name="images2" vspace="0" width="215" height="126" border="0"></a></p>
			</td>
			<td width="100%" bgcolor="#333333" valign="middle">
				<p style="font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; color: #efefef; font-size: 14px; text-decoration: none;" href="mailto:ag2013@auf.org?subject=ag2013%20Inscription">AG2013 - Services des affaires institutionnelles<br>
			Téléphone : +1 514 343 66 30 poste 1234<br>
			<a style="font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; color: #efefef; font-size: 14px; text-decoration: underline" href="mailto:ag2013@auf.org?subject=ag2013%20Inscription">ag2013@auf.org</a>.
			</p>
			</td>
		</tr>
	</table>
</body>
</html>
