<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//FR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
	<title>Accusé de réception de votre inscription à la 16e assemblée générale de l'Agence Universitaire de la Francophonie</title>
<style type="text/css">
</style></head>
<body lang="fr-CA" dir="LTR" leftmargin="10px" marginwidth="10px" topmargin="10px" marginheight="10px" offset="0">
	<table width="100%" border="0" cellpadding="20" cellspacing="0" font-face="Georgia, Times New Roman, Times, serif">
		<col width="87*"></col><col width="169*"></col>
		<tr>
			<td colspan="2" width="100%" valign="TOP" bgcolor="#333333">
				<p align="JUSTIFY" style="align: justify;font-color: #242424;font-face: Georgia, Times New Roman, Times, serif; font-weight: normal;font-size: 16px;text-decoration: none;"><img src="https://ag2013.auf.org/static/img/logo.png" name="ag2013" vspace="0" width="658" height="111" border="0"></p>
			</td>
		</tr>

		<tr>
			<td colspan="2" width="100%" valign="TOP" bgcolor="#efefef">
<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">Madame,<br>
Monsieur,
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">Nous vous remercions d'avoir transmis votre formulaire d'inscription à la 16e assemblée générale de l'Agence universitaire de la Francophonie (AUF), qui se tiendra du 7 au 10 mai 2013 à São Paulo, Brésil.
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">Pour consulter et imprimer votre récapitulatif d'inscription ou pour lancer des invitations à vos accompagnateurs, cliquez sur le lien vers le formulaire d'inscription en ligne qui vous a été fourni dans votre courriel d'invitation.
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">Après étude de votre demande d'inscription, un nouveau message vous sera adressé pour vous confirmer votre participation à l'assemblée générale ou, le cas échéant, vous transmettre une facture des frais restants à percevoir.
				</p>
				<p style="align: justify; font-color: #242424; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;">
				Meilleures salutations.
				</p>
			</td>
		</tr>
		<tr valign="TOP">
			<td width="230px" height="127" bgcolor="#333333" valign="top">
				<p style="align: justify; font-color: #efefef; font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; font-size: 16px; text-decoration: none; margin-bottom: 10px; padding: 0cm; border: none;"><a href="https://ag2013.auf.org" target="_blank" style="color: #7E0321; text-decoration: none;"><img src="https://ag2013.auf.org/static/img/logo2.png" name="images2" vspace="0" width="251" height="126" border="0"></a></p>
			</td>
			<td width="100%" bgcolor="#333333" valign="middle">
				<p style="font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; color: #efefef; font-size: 14px; text-decoration: none;" href="mailto:ag2013@auf.org?subject=ag2013%20Inscription">AG2013 - Services des affaires institutionnelles<br>
			Téléphone : +1 514 343 66 30 poste 1234<br>
			<a style="font-family: Georgia, Times New Roman, Times, serif; font-weight: normal; color: #efefef; font-size: 14px; text-decoration: underline" href="mailto:ag2013@auf.org?subject=ag2013%20Inscription">ag2013@auf.org</a>.
			</p>
			</td>
		</tr>
	</table>
</body>
</html>
