{% extends "gestion/base.html" %}
{% block title %}Élections - AG2017{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "tableau_de_bord" %}">Accueil</a>&rsaquo;
        Élections&rsaquo;
    </div>
{% endblock %}
{% block content %}
  <h2>Formulaires candidatures</h2>
    <ul>
    <li><a href="{% url "candidatures" %}">Toutes les régions</a></li>
      {% for region in regions %}
        <li><a href="{% url "candidatures_region" region.code %}">
          {{ region.nom }}
        </a></li>
      {% endfor %}
    </ul>
  <h2>Listes salles</h2>
  <ul>
  {% for criterion in criteria_listes_votants %}
    <li><a target="_blank" href="{% url "liste_salle" criterion.code %}">
      {{ criterion.titre }}
    </a></li>
  {% endfor %}
  </ul>
  <h2>Listes d'émargement</h2>
  <ul>
  {% for criterion in criteria_listes_votants %}
    <li><a target="_blank" href="{% url "liste_emargement" criterion.code %}">
      {{ criterion.titre }}
    </a></li>
  {% endfor %}
  </ul>
  <h2>Liste candidats</h2>
  <ul>
  {% for criterion in criteria_listes_candidats %}
    <li>
    <a href="{% url "liste_candidats" criterion.code %}">
      {{ criterion.titre }}
    </a>
    </li>
  {% endfor %}


  </ul>

{% endblock %}