{% extends "gestion/base.html" %}
{% block title %}Élections - AG2017{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "tableau_de_bord" %}">Accueil</a>&rsaquo;
        Élections&rsaquo;
    </div>
{% endblock %}
{% block content %}
  <h2>Formulaires candidatures</h2>
    <ul>
    <li><a href="{% url "candidatures" %}">Toutes les régions</a></li>
      {% for region in regions %}
        <li><a href="{% url "candidatures_region" region.code %}">
          {{ region.nom }}
        </a></li>
      {% endfor %}
    </ul>
{% endblock %}