{% extends "gestion/base.html" %}
{% block title %}Élections - AG2017{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "tableau_de_bord" %}">Accueil</a>&rsaquo;
        Élections&rsaquo;
    </div>
{% endblock %}
{% block content %}
  <h2>Formulaires candidatures</h2>
    <ul>
    {% for critere_candidature in criteres_candidatures.values %}
      <li><a target="_blank" href="{% url "candidatures_region" critere_candidature.code %}">
          {{ critere_candidature.titre }}
        </a></li>
    {% endfor %}
    </ul>
  <h2>Listes salles</h2>
  <ul>
  {% for criterion in criteria_listes_votants %}
    <li><a target="_blank" href="{% url "liste_salle" criterion.code %}">
      {{ criterion.titre }}
    </a></li>
  {% endfor %}
  </ul>
  <h2>Listes d'émargement</h2>
  <ul>
  {% for criterion in criteria_listes_votants %}
    <li><a target="_blank" href="{% url "liste_emargement" criterion.code %}">
      {{ criterion.titre }}
    </a></li>
  {% endfor %}
  </ul>
  <h2>Listes candidats</h2>
  <ul>
  {% for criterion in criteria_listes_candidats %}
    <li>
    <a target="_blank" href="{% url "liste_candidats" criterion.code %}">
      {{ criterion.titre }}
    </a>
    </li>
  {% endfor %}
  </ul>
  <h2>Bulletins</h2>
  <ul>
    {% for election in elections %}
      <li><a target="_blank" href="{% url "bulletin_autres" election.code %}">
        {{ election.libelle }}
      </a></li>

    {% endfor %}
  </ul>
  <h2>Grilles de dépouillement</h2>
  <ul>
    {% for election in elections %}
      <li><a target="_blank" href="{% url "depouillement_autres" election.code %}">
        {{ election.libelle }}
      </a></li>

    {% endfor %}
  </ul>

{% endblock %}
