<form method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  {{ formset.errors }}
  {% regroup formset by instance.get_region_vote_display as forms_by_region %}
  {% for region_forms in forms_by_region %}
    <h2>{{ region_forms.grouper }}</h2>
    <table>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Poste</th>
        <th>Établissement</th>
        <th>Suppléant</th>
        {% for radio in region_forms.list.0.candidat_a_election %}
          <th>{{ radio.choice_label }}</th>
        {% endfor %}
        <th>Suppléant de</th>
        <th></th>
        <th></th>
      </tr>

      {% for form in region_forms.list %}
        <tr>
          {{ form.id }}
          <td>{{ form.instance.nom }}</td>
          <td>{{ form.instance.prenom }}</td>
          <td>{{ form.instance.poste }}</td>
          <td>{{ form.instance.etablissement.nom }}</td>
          <td>
            {% if form.instance.get_suppleant %}
            {{ form.instance.get_suppleant.get_nom_complet }}
            {% else %}
              -
            {% endif %}
          </td>
          {% for radio in form.candidat_a_election %}
            <td>
              <input type="radio" id="{{ radio.attrs.id }}"
                     {% if radio.choice_value and not radio.choice_value in form.candidatures_possibles %}
                     disabled="disabled"
                     {% endif %}
                     name="{{ radio.name }}"
                     value="{{ radio.choice_value }}"
                     {% if radio.is_checked %}checked="checked"{% endif %}/>
            </td>
          {% endfor %}
          <td>
              <span class="js-select-suppleant" {% if form.candidat_a_election.value != "S" %} style="display: none;"{% endif %}>
              {{ form.suppleant_de }}
              </span>
          </td>
          <td>Libre ? {{ form.candidat_libre }}</td>
          <td>Éliminé ? {{ form.candidat_elimine }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
  </form>