{% extends "gestion/base.html" %}
{% load staticfiles %}
{% block title %}Élections - Candidatures - AG2017{% endblock %}
{% block extrahead %}
  <script src="{% static "scripts/jquery.3.1.1.min.js" %}"></script>
  <script src="{% static "scripts/jquery.form.4.0.1.min.js" %}"></script>
{% endblock %}
{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "tableau_de_bord" %}">Accueil</a>&rsaquo;
    <a href="{% url "accueil_elections" %}">Élections</a>&rsaquo;
    Candidatures
  </div>
{% endblock %}
{% block content %}
  <div id="form-candidatures">
  {% include "elections/candidatures_form.html" %}

  </div>

{% endblock %}

{% block js_initializations %}
<script>
  function submit_form() {
    var form = $('form');
    form.submit();
    $('input,select').prop('disabled', 'disabled');
  }

  function form_changed(event) {
    event.stopPropagation();
    var form = $('form');
    var target = $(event.target);
    if (target.attr('type') == 'radio') {
      var tr = target.closest('tr');
      var suppleant_select = tr.find('.js-select-suppleant');
      var suppleant_radio = tr.find('input[type="radio"][value="S"]');
      suppleant_select.toggle(suppleant_radio.is(':checked'));
      if (target.is(':checked') && !target.is(suppleant_radio)) {
        submit_form();
      }
    }
    else {
      submit_form();
    }
  }

  function init_form() {
    var form = $('form');
    form.ajaxForm({
      target: '#form-candidatures form',
      success: init_form
    });
    form.find('input,select').change(form_changed);

  }
  function init() {
    init_form();
  }
  $(init);

</script>
  {% endblock %}