{% extends "elections/liste_emargement/base_liste_emargement.html" %}
{% block titre_doc %}
17e Assemblée générale des membres de l’AUF – Marrakech (Maroc) 2017
{% endblock %}

{% block surtitre %}
<div class="jour">
salle Coliseum - Mercredi 10 mai 2017
</div>
<div class="jour hidden">
salle Coliseum - Vendredi 12 mai 2017
</div>
{% endblock %}

{% block titre %}
<div class="jour">
Réunion préliminaire – Liste d'émargement – Membres Associés  
</div>
<div class="jour hidden">
Élection (CASS) – Liste d'émargement – Membres Associés  
</div>
{% endblock %}
