{% extends "elections/base_listes.html" %}
{% block titre_doc %}17e Assemblée générale des membres de l’AUF – Marrakech (Maroc) 2017
{% endblock %}

{% block titre %}
  LISTE D'ÉMARGEMENT - {{ titre_critere }}
{% endblock %}
{% block tables %}
<div><a href="#" class="noprint toggle jourToggle">Toggle</a></div>
<table>
  {% for pays, participants in participants_par_pays.iteritems %}
    <tr>
      <td class="liste-emargement-pays" colspan="4">{{ pays }}  <span class="nombre" style="font-size: 14px">( {{ participants|length }} )</td>
      <td>Signature</td>
      <td>Date</td>
      <td>Val</td>
    </tr>
    {% for participant in participants %}
    <tr class="liste-emargement-participant">
      <td class="noborder" width="10%"><strong>{{ participant.nom }}</strong></td>
      <td class="noborder" width="10%">{{ participant.prenom }}</td>
      <td class="noborder" width="15%">{{ participant.poste }}</td>
      <td class="noborder" width="35%">{{ participant.nom_institution }}</td>
      <td width="15%"></td>
      <td width="10%"></td>
      <td width="5%"></td>
    </tr>
    {% endfor %}
  {% endfor %}
</table>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
$('.jourToggle').click(function(){
        $(".jour").toggle();
});
</script>
{% endblock %}

