body { 
	background-color:#fff;
	font-family:Serif;
	font-size:15pt;
	margin:0;
	border:none;
}

#top, #footer, #baseline3 {
	display:none;
}

h1 {
	margin:0;
	padding:0;
	text-indent:0;
	line-height:25pt;
	font-size:25pt;
}

h2, h3, #contenu h3, #contenu a, a {
	color:#000;
}

h2 {
	padding-bottom:2pt;
	padding-left:0;
	font:bold 20pt Serif;
	border-bottom:1pt solid #000;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

p {
  text-align:justify;
  margin:2pt 1pt 6pt 0;
  font-size:12pt;
  color:#000;
}

#contenu {
  float:none;
  width:100%;
  margin:0;
  padding:0;
  text-align:left;
}

#contenu h3 {
  font-size:15pt;
	font-weight:bold;
	margin: 10pt 0 5pt 0;
}

#contenu a { 
  font-weight:normal;
  text-decoration:none;
}

img {
  float:left;
  margin:3pt 6pt 3pt 6pt;
  padding:8pt;
  background:#fff;
  border:1pt solid #000;
}