
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {

    font-family: "Open Sans",sans-serif;
    font-size: 0.9em;
    color: #686768;
    line-height: 1.5em;
    /*background: url(img/fond.jpg);*/
    background-color: #eee;
padding: 0; margin: 0;
}
ol, ul {
    list-style: none;
padding: 0;
margin: 0;
}

select {
    max-width: 640px;
}

/*HEADER*/
#top {
max-width:100%;
margin:auto;
}


#top2-header {
	width:100%;

}


.image img {

  	display: block;	
	max-width:100%;
	height:auto;

}


#diapo {
    background-color: white;
}



#diapo .note {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 500px;
    padding: 30px 20px 30px 20px;
left:22%;
    z-index: 500;
    background-color: black;
    opacity: 0.70;
    filter: alpha(opacity=70);


}

#diapo .note a {
    display: block;

    text-decoration: none;
    color: #fff;
    font:  2em "Ubuntu","Open Sans",sans-serif;
    text-align: right;
    text-transform:uppercase;
   
}

#diapo .note a .petitbanner
{

    font:  0.8em "Ubuntu","Open Sans",sans-serif;
    text-transform:none;
}

#top2-center {
    min-height: 42px;
    width: 100%;
    /*background-image: url(img/bgmenu.png);*/
    background-color: #A90F30;
}

#top2 {
    	min-height: 42px;

	text-align: left;
	float: right;
	padding-top: 80px;

}

#top2 ul {
    float: left;
}

#top2 ul li {
    float: left;
    /*background: url(img/separ.png) right center no-repeat;*/
    padding: 15px 0 15px 0;
}

#top2 ul li a {
    display: block;
    text-decoration: none;
    color: #A90F30;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    line-height: 42px;
    height: 42px;
    text-transform: uppercase;
    padding: 0 30px 0 0;

}

#top2 ul li a:hover {
    color: #c3b077;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}

#top2 .goog-te-gadget-simple {
    font-size: 8pt;
    background-color: #ffffff;
    padding: 3px 1px 2px 1px;
    border: none;
}

div.selectBox {
    position: relative;
    display: inline-block;
    cursor: default;
    text-align: left;
    line-height: 26px;
    background: #FFF;
    color: #474747;
    font-size: 0.84em;
    text-shadow: none;
    float: right;
    top: 25px;
    right: 20px;
    height: 22px;
}

div.selectBox2 {
    position: relative;
    display: inline-block;
    cursor: default;
    text-align: left;
    line-height: 26px;
    background: #FFF;
    color: #474747;
    font-size: 0.84em;
    text-shadow: none;
    float: right;
    top: 21px;
    right: 20px;
    height: 22px;
}

span.selected {
    width: 150px;
    text-indent: 10px;
    overflow: hidden;
}
span.selected img, span.selectOption img {
    vertical-align: middle;
    margin-right: 6px;
}
span.selectArrow {
    width: 22px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #e5e5e5 url(img/Picto_MenuDeroulant.gif) no-repeat;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

span.selectArrow, span.selected {
    position: relative;
    float: left;
    height: 22px;
    line-height: 22px;
    z-index: 1;
}

div.selectOptions {
    position: absolute;
    margin-left: 4px;
    top: 26px;
    left: 0;
    width: 158px;
    overflow: hidden;
    background: #E8E8E8;
    padding: 4px;
    display: none;
    z-index: 999;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

div.selectOptions a {
    text-decoration: none;
}

span.selectOption {
    display: block;
    line-height: 18px;
    padding: 4px 8px;
    cursor: pointer;
}

span.selectOption:hover {
    background: #fff;
}

a span.selectOption {
    color: #434444;
}

a:hover > span.selectOption {
    color: #666666;
}

/*BASELINE*/
/*noinspection CssUnknownTarget*/
#baseline {
    width: 100%;
    margin: 0 auto;
    background: url(img/entrelac-blanc.png) white no-repeat top left;

}

#baseline-center {

    max-width: 1024px;
    margin: 0 auto;

}

#baseline2 {
    width: 785px;
    height: 406px;
    margin: 0 auto;
}

#baseline3 {
    height: 209px;
    background: url(img/base2.jpg) top repeat-x;
}

#baseline4 {
    width: 785px;
    height: 209px;
    margin: 0 auto;
    /*background: url(img/deg2.png) center top no-repeat;*/
    position: relative;
}

#logoligne {
    overflow: hidden;
}

#logo {

    float: left;
    padding: 15px 0 7px 0;
width: 276px;
}

#logo img {
    margin-top: 0;
}

#ligne {
    float: left;
    margin: 31px 0 0 0;
    text-shadow: 1px 1px 1px #002232;
    filter: dropshadow(color=#002232, offx=1, offy=1);
    color: #FFF;
}

#ligne sup {
    margin: 0 6px 0 1px;
    display: inline-block;
    position: absolute;
    font-size: 30px;
}

#ligne h4, #baseline4 h4 {
    font: bold 42px "Open Sans",sans-serif;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin: 0 0 0 14px;
    display: inline-block;
    background: none;
    padding: 0;
}

#ligne span {
    font: bold 50px "Open Sans",sans-serif;
    color: #FFFFFF;
}

#ligne h2 {
    text-decoration: none;
    font: bold 30px "Open Sans",sans-serif;
    color: #FFFFFF;
    margin: 0 0 5px 0;
    /*padding-top: 2px;*/
}






#ligne h3, #baseline4 h3 {
    text-decoration: none;
    font: bold 18px "Open Sans",sans-serif;
    color: #FFFFFF;
    margin: 0;
    border: none;
    padding: 0;
}

#footer-wrap {

  background: url("img/entrelac-bordeaux.png") #a81835 no-repeat bottom right;
    overflow:auto;
    width: 100%;
    padding: 30px 0 40px 0;
margin-top: 25px;
}

#footer {
    width: 950px;
    margin: auto;
}



#footer p {
    font-size: 0.9em;
     color: #FFFFFF;


}


#footer ul {
    color: #FFFFFF;
 	max-width:500px;	
	float: left;
font-size:0.9em;
}

.MS-icons { float: right; max-width:350px;}

#footer a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 5px;
}

#corp {
    background-color: white;
    width: 100%;
	max-width:640px;
    float: left;
    padding: 20px;
    min-height: 600px;
    margin-top: 20px;
}

#sid {
    
	max-width:320px; 
	width: 100%;
    margin-left: 20px;
    float: left;
}

#act_sci {
    padding: 10px;
    background-color: #f8f8f8;
    margin-top: 20px;
    border: 10px solid #7db41a;
}

#id_email {
    width: 260px;
    margin-top: 10px;
}

.partenaire-frame {
    padding: 20px 20px 0 20px;
    margin-top: 20px;
    overflow: hidden;
    background-color: white;
}


.partenaire {
    width: 950px;
margin: auto;
}

.box {
    padding: 20px 20px 0 20px;
    margin-top: 20px;
    overflow: hidden;
    background-color: white;
}


.video {
    font-size: 11px;
    margin-bottom: 23px;
    text-align: left;
    overflow: hidden;
}
.video iframe {
    max-width: 280px;
}
.video a {
    color: #003550;
}

.comman {

float: left;

}

.comman img {
    padding: 20px 40px 20px 0;
    max-width: 200px;
    height: auto;

    margin-bottom: 20px;
}

.contents {
    max-width: 1024px;
	width:100%;
    overflow: hidden;
    margin: 0 auto;
}

.contents ul {
  margin: 0 0 18px 4px;

}

.contents ul li {
    background: url("img/puce.png") no-repeat scroll left center transparent;
    line-height: 16px;
    margin-bottom: 14px;
    padding-left: 20px;
}

#smenu ul {
      margin: 0 0 22px 0;
}

/*noinspection CssUnknownTarget*/
#smenu ul li {
    background: url("/static/img/gauche.png"), url("img/fond2.jpg") no-repeat, repeat;
    background-position-x: 10px;
    background-position-y: 50%;
    border: 1px solid #CCCCCC;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
      margin: 0 0 10px 0;
    color: #444;
}

/*noinspection CssUnknownTarget*/
#smenu .selected {
    background-image: url("/static/img/gauche_0.png"),url("img/fond2.jpg");
    color: #000;
    font-weight: bold;
}

#smenu ul li a {
    position: relative;
    left: 10px;
}

#pick_act_sci_form {
    margin: 15px 0 0 0;
    padding-left: 0;
}

#pick_act_sci_form input[type="radio"] {
    float: left;
}

#act_sci_participant ul {
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
}

#act_sci_participant ul li {
    list-style-type: none;
    background: none;
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
}

#act_sci ul li {
    list-style-type: none;
    background: none;
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
}

#act_sci ul li label {
    cursor: pointer;
}

#act_sci .errorlist {
    background-color: #ff947a;
    margin: 10px 0 0 0;
    padding: 10px;
}

#bouton_deconnexion {
    float: right;
}

#bouton_retirer {
    border-top: 1px solid grey;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}

#bouton_deconnexion a, #bouton_retirer a {
    text-decoration: none;
}

#bouton_retirer img {
    position: relative;
    top: 1px;
    margin: 0 10px 10px 0;
    float: left;
}

#just_saved {
    background-color: #fcdd6f;
    padding: 10px;
    text-align: center;
}

.ImgG {
    float: left;
    padding: 5px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    text-align: center;
    margin: 4px 18px 6px 0;
    font-size: 0.88em;
    width: 280px;
}

.ImgD {
    float: right;
    padding: 5px;
    border: 1px solid #555;
    background-color: #fff;
    text-align: center;
    margin: 4px 0 6px 18px;
    font-size: 0.88em;
    width: 280px;
}

.ImgC {
    padding: 5px 5px 10px 5px;
    border: 1px solid #555;
    background-color: #fff;
    margin: 12px 0 6px 0;
    font-size: 0.88em;
    text-align: center;
}

.ImgG img, .ImgD img {
    margin-bottom: 6px;
}

.ImgC img {
    max-width: 766px;
    display: block;
    margin: 0 auto;
}

.ImgC span {
    margin-top: 10px;
    display: block;
}

table {
    background-color: #FFFFFF;
    border: 0 solid #555555;
    border-collapse: collapse;
    margin: 6px 0 30px;
    width: 100%;
}

table .col {
    background-color: #EEEEEE;
}

table td {
    border: 1px solid #555555;
    padding: 14px 18px;
}


h1{

    font-family: "Ubuntu","Open Sans",sans-serif;
    font-size: 2em;
    color: #A90F30;

    padding-bottom: 15px;
    margin-bottom: 21px;

}



#corp h2, #sid h2,  .partenaire h2 {

    font-family: "Open Sans",sans-serif;
    font-size: 1.2em;
    color: #A90F30;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 21px;
    border-left: 3px solid #A90F30;
padding-left: 7px;
}

table.atelier {
    border: 0 solid #FFFFFF;
    margin: 0 0 0 0;
}

#corp .atelier td {
    border: 0 solid #555555;
    vertical-align: top;
    padding: 0 10px 20px 0;
}

.box a {
    text-decoration: none;
    color: #686768;
}

.box a:hover {
    color: #686768;
}

#corp h3 {
    font-weight: bold;
    font-size: 13px;
    color: white;
    background-color:#A90F30;
    padding: 5px 10px;
    border:none;
    width:96%;
}

#act_sci_participant h2 {
    margin-bottom: 5px;
}

p {

    margin-bottom: 20px;

}

#corp a {
    color: #A90F30;
    text-decoration: none;
}

#corp a:hover {
    color: #c3b077;
    text-decoration: none;
}

#top2 ul li ul {
     display: none;
    z-index: 999;
     list-style-type: none;
     margin: 0;
     padding: 0;
     color: #666666;
     position: absolute;
    min-width: 200px;
        padding-top: 15px;

}
#top2 ul li ul li {
     float: none;
    background: none;
    padding: 10px;
    line-height: 0;
    height: 20px;
}

#top2 ul li ul li a {
     text-align: left;
    text-transform: none;
    font-weight: 100;
    line-height: 0;
    color: white;
}

#top2 ul li ul li a:hover {
    color: #c3b077;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
line-height: 0;
}

#top2 li:hover > ul {
    display: block;
/*    background-image: url(img/bgmenu.png);*/
background-color: #A90F30;

}

.flott {float: left; margin: 5px 20px 6px 0;}

.bx-wrapper .bx-next {
    background: url("img/bt-next.png") no-repeat scroll 0 0 transparent;
    height: 23px;
    position: absolute;
    right: 20px;
    text-indent: -999999px;
    bottom: 20px;
    width: 23px;
    z-index: 1000;
}

.bx-wrapper .bx-prev {
    background: url("img/bt-prev.png") no-repeat scroll 0 0 transparent;
    height: 23px;
    right: 44px;
    position: absolute;
    text-indent: -999999px;
    bottom: 20px;
    width: 23px;
    z-index: 1000;
}

/*question r\E9ponse*/
.cache {
    display: none;
}

.question {
    background: url("img/fond2.jpg") repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    padding: 14px 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 12px;
    color: #444;
}

.question span {
    margin-top: 4px;
    float: right;
}

.reponse {
    background: #fafafa;
    border: 1px solid #CCCCCC;
    padding: 22px 22px 0 22px;
    display: none;
    margin-bottom: 12px;
}

.reponse2 {
    background: #fafafa;
    border: 1px solid #CCCCCC;
    padding: 22px 22px 0 22px;
    margin-bottom: 12px;
}

.bio {
    float: left;
    margin: 0 16px 6px 0;
    padding: 7px;
    border: 1px solid #CCCCCC;
}

/*CONTACT ET FORMULAIRE */

/* liste in form */
#content .ctrlHolder ul li {
    margin: 0;
    padding: 0;
    background: none;
}

.uniForm {
    padding: 22px;
    background: url(img/fond2.jpg);
    border: 1px solid #ccc;
}

.ctrlHolder {
    margin-bottom: 18px;
}

.formHint {
    font-style: italic;
    font-size: 0.90em;
    color: #880424;
    margin: 0 0 0 4px;
}

.prix {
    font-size: 1.5em;
    width: 15%;
}

/*Les input */
input[type="checkbox"], input[type="radio"] {
    vertical-align: top;
    margin: 0 10px 4px 0;
}

input:required, textarea:required {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

textarea, input[type="text"], input[type="url"], input[type="email"] {
    outline: none;
    display: block;
    width: 380px;
    padding: 4px 8px;
    border: 1px solid #CCCCCC;
    color: #3F3F3F;
    font-family: 'Droid Sans',"Open Sans",sans-serif,Arial,Verdana sans-serif;
    font-size: 14px;
    border-radius: 2px;
    transition: background 0.2s linear,
    box-shadow 0.6s linear;
}

textarea:active, textarea:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="email"]:focus {
    background: #F7F7F7;
    border: dashed 1px #969696;
    box-shadow: 2px 2px 7px #E8E8E8 inset;
}

textarea {
    min-height: 150px;
    resize: vertical
}

.etapeactive {
    font-size: 1.05em;
    color: #7E0321;
}

/* Bouton */
.buttonHolder, .bouton_sub {
    text-align: center;
}

.readOnlyLabel {
    font-weight: bold;
    text-decoration: none;
    color: #7E0321;
    margin-bottom: 6px;
}

input[type=submit],
.bouton_sub {
    margin: 10px 0 2px 0;
    cursor: pointer;
    background: none;
    color: #363636;
    font-size: 14px;
    padding: 6px 8px;
    border: 1px solid #aaa;
    text-shadow: 0 1px 1px #E8E8E8;
    background: rgb(247, 247, 247);
    background: linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(242, 242, 242, 1) 100%);
    transition: all 0.2s linear;
}

.warning {
    font-weight: bold;
    color: #990000;
    padding-left: 24px;
    height: 20px;
    line-height: 20px;
    background: url(img/warning.png) left no-repeat;
}

input[type=submit]:hover,
.bouton_sub:hover {
    color: #003550;
    border-color: #CECECE;
    background: linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(242, 242, 242, 1) 100%);
    box-shadow: 0 1px 1px #FFF inset,
    0 0 0 5px #E0E0E0;
}

input[type=submit]:active,
input[type=submit]:focus {
    position: relative;
    top: 1px;
    color: #515151;
    background: linear-gradient(top, rgba(234, 234, 234, 1) 0%, rgba(242, 242, 242, 1) 100%);
    box-shadow: 0 -1px 1px #FFF inset,
    0 0 0 5px #E0E0E0;
}

label {
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
    margin-bottom: 4px;
    display: block;
}

label:hover {
    color: #191919;
}

label:before {
    color: #C1BFBD;
    transition: color 1s ease;
}

label:hover:before {
    color: #969696;
    transition: color 1s ease;
}

.indication {
    font-size: 12px;
    font-style: italic;
    padding-right: 10px;
}

.required {
    color: #b20731;
}

select {
    max-width: 640px;
}

.ui-state-active span:before {
    content: "\2713";
    color: green;
    font-size: large;
}

input.invite-widget {
    width: 90%;
}

#filtre-reseautage table {
    background-color: transparent;
    width: auto;
    margin-bottom: 6px;
}

#filtre-reseautage table td {
    border:None;
    padding: 0;
}

.table-reseautage {
    margin-bottom: 6px;
    width: 60%;
}

.table-reseautage td {
    border:None;
    padding: 0;
}

.table-reseautage tr td:first-of-type {
    width: 60%;
}

#participants-reseautage {
    max-height: 250px;
    overflow-y: auto;
}

#participants-reseautage-wrapper {
    padding: 5px;
    border: 1px solid lightgray;
}

#plan-vol-dossier td {
    width: 25%;
    vertical-align: middle;
}

#plan-vol-dossier input[type="text"] {
    width: 90%;
}

/******************************* 1024px ********************************************/

@media screen and (max-width: 1024px) {

#logo img {
    margin-top: 0;
margin-left:20px;
}

#baseline {
background-image:none;

}

#corp {
	padding-right:0px;
    width: 100%;
    max-width:620px;
    margin-left: 20px;
    margin-right: 0px;
}

#sid {
      max-width:300px;
	width: 100%;
 margin-right: 20px;

}

}


/******************************* 768px ********************************************/

@media screen and (max-width: 768px) {

#logo img {
    margin-top: 0;
}

#baseline {
background-image:none;

}

#corp {
	padding-right:0px;
    width: 93%;
    max-width:93%;
    margin-left: 20px;
    margin-right: 20px;
}

#sid {
      max-width:96%;
	width: 96%;
 margin-left: 20px;
    margin-right: 20px;

}

.MS-icons { float: left;}

#footer ul {
    color: #FFFFFF;
 	clear:both;
	font-size:0.9em; margin-left: 20px;margin-bottom: 30px;
}

.MS-icons { 	margin-left: 20px; clear:both;}

#top2 {
    	min-height: 42px;

	text-align: left;
	float: left;
	padding-top: 0px;
margin-left:20px;

}

#top2 ul {
    float: left;
}

#top2 ul li {
    float:left;
    /*background: url(img/separ.png) right center no-repeat;*/
    padding: 0px 0 0px 0;
}

#top2 ul li a {
    display: block;
    text-decoration: none;
    color: #A90F30;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    line-height: 42px;
    height: 42px;
    text-transform: uppercase;
    padding: 0 30px 0 0;



}

}


/******************************* 640px ********************************************/

@media screen and (max-width: 640px) {

#logo img {
    margin-top: 0;
}

#baseline {
background-image:none;

}

#diapo .note {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 500px;
    padding: 30px 20px 30px 20px;
left:4%;
    z-index: 500;
    background-color: black;
    opacity: 0.70;
    filter: alpha(opacity=70);


}

#corp {
	padding-right:0px;
    width: 93%;
    max-width:93%;
    margin-left: 20px;
    margin-right: 20px;
}

#sid {
      max-width:96%;
	width: 96%;
 margin-left: 20px;
    margin-right: 20px;

}

.MS-icons { float: left;}

#footer ul {
    color: #FFFFFF;
 	clear:both;
	font-size:0.9em; margin-left: 20px;margin-bottom: 30px;
}

.MS-icons { 	margin-left: 20px; clear:both;}

#top2 {
    	min-height: 42px;

	text-align: left;
	float: left;
	padding-top: 0px;
margin-left:20px;

}

#top2 ul {
    float: left;
}

#top2 ul li {
    float:left;
    /*background: url(img/separ.png) right center no-repeat;*/
    padding: 0px 0 0px 0;
}

#top2 ul li a {
    display: block;
    text-decoration: none;
    color: #A90F30;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    line-height: 42px;
    height: 42px;
    text-transform: uppercase;
    padding: 0 30px 0 0;
}
}



/******************************* 480px ********************************************/

@media screen and (max-width: 480px) {

#logo img {
    margin-top: 0;
}

#baseline {
background-image:none;

}


#diapo, .image img {height:250px;}

#diapo .note a {
    display: block;
    text-decoration: none;
    color: #fff;
    font: 1.4em "Ubuntu","Open Sans",sans-serif;
    text-align: left;
    text-transform: uppercase;
}


#diapo .note {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 300px;
    padding: 30px 20px 30px 20px;
left:4%;
    z-index: 500;
    background-color: black;
    opacity: 0.70;
    filter: alpha(opacity=70);


}

#corp {
	padding-right:0px;
    width: 90%;
    max-width:90%;
    margin-left: 10px;
    margin-right: 10px;
}

#sid {
      max-width:90%;
	width: 90%;
 margin-left: 10px;
    margin-right: 10px;

}

.home { display:none;}

.MS-icons { float: left;}

#footer ul {
    color: #FFFFFF;
 	clear:both;
	font-size:0.9em; margin-left: 20px;margin-bottom: 30px;
}

.MS-icons { 	margin-left: 20px; clear:both;}

#top2 {
    	min-height: 42px;

	text-align: left;
	float: left;
	padding-top: 0px;
margin-left:20px;

}

#top2 ul {
    float: left;
}

#top2 ul li {
    float:left;
    /*background: url(img/separ.png) right center no-repeat;*/
    padding: 0px 0 0px 0;
}

#top2 ul li a {
    display: block;
    text-decoration: none;
    color: #A90F30;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    line-height: 42px;
    height: 42px;
    text-transform: uppercase;
    padding: 0 30px 0 0;
}
}



/***************************   CODE MON DOSSIER   *********************************/


.info-participant {
    width :44%;
    float:left;
    background-color:white; margin-right:3%;
    padding:2%;
}

.statut-dossier {
    width :44%;
    float:left;
    background-color:white;
    padding:2%;
}

.bloc-dossier1 {clear:both; overflow:auto;}

.bloc-paiement, .bloc-planvol, .bloc-hebergement, .bloc-activites, .bloc-reseautage, .bloc-accompagnateur {
    float:none;
    clear:both;
    background-color:white;
    padding:2%;
    margin-top:20px;
}

.ui-tabs .ui-tabs-panel, .ui-tabs span {
    font-size: 0.9em;
    font-family: open sans;
}