/* ---end media screen--- */

body {

    font-family: "Open Sans",sans-serif;
    font-size: 0.9em;
    /*background: url(img/fond.jpg);*/
    padding: 0; margin: 0;
}
.entete {
    float: right;
}
.logo {
    float: left;
    margin-right: 10px;
}

.toggle {
    float: right;
}

.tetiere {
    
}
.hidden  {
    display: none;
}
.surtitre {
    color: darkred;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 50px;
}

.titre {
    color: white;
    background-color: darkred;
    font-weight: bold;
    font-size: 2em;
}

.soustitre {
    color: darkred;
    font-weight: bold;
    font-size: 1.5em;
}
.soustitre::after {
    clear:both;
}
.directive {
    float: right;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

.liste-salle-pays, .liste-emargement-pays {
    font-size: 2em;
    color: darkred;
}

.liste-salle-pays td {
    padding-top: 0.5em;
}


.liste-salle-participant, .liste-candidats, .liste-candidats-bulletin {
    border-top: 1px solid black;
    line-height: 20px;
}

.liste-candidats-bulletin td {
    padding-top: 15px;
    font-size: 16px;
}


.liste-emargement-participant {
    border: 1px solid black;
    font-size: 1.1em;
}

.liste-emargement-participant td {
    border: 1px solid black;
    padding: 5px;
}

.region-bulletin {
    color: darkred;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 50px;
}
.case {
    width: 5%;
    font-size: 35px !important;
    padding: 0px 5px 0 5px;
}
.name {
    padding-top: 20px !important;
}
.explication {
    display: inline !important;
}

.libelle {
    font-size: 15px;
}

.depouillement-cell-total {
    border: 1px solid black;
    background-color: #ccc;
}

.depouillement-cell-compte {
    border: 1px solid black;
}

.depouillement-cell-region {
    border: 1px solid black;
    font-size: 20px;
    color: darkred;
    width: 300px;
}

.depouillement-cell-nom-candidat {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 18px;
}

.depouillement-ligne-espace {
    height: 1em;
}

.grise {
    background-color: lightgray;
}

.grille-nb-feuilles {
    width: 100%;
}
#pages {
    float: right;
    width: 10%;
    margin-bottom: 50px;
}

.grille-nb-feuilles td {
    border: 1px solid black;
    width: 50%;
}

.table-depouillement {
    width: 100%;
}

td.noborder {
    border: none;
}



/* ---end media screen--- */

@media print {


.body {
    padding: 10px;
}

.entete {
    clear: both;
    margin-bottom: 5px;
    margin-right: 5px;
}

.logo img {
    width: 99%;
}
.logo {
    display: inline;
    width: 25%;
    float: left;
    margin-top: 25px;
}
.noprint {
    display: none !important;
}
.tetiere {
    display: inline;
    width: 75%;
}
.surtitre {
    font-size: 1em;
    margin-top: 0px;
    padding-left: 5px;
}

.soustitre {
    font-size: 1em;
    display: inline !important;
}

.titre {
    font-size: 1.1em;
    padding: 5px;
    width: auto;
}

table tr td, table tr th {
        page-break-inside: avoid;
    }

}
