.surtitre {
    color: darkred;
    font-weight: bold;
}

.titre {
    color: white;
    background-color: darkred;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

.liste-salle-pays, .liste-emargement-pays {
    font-size: 2em;
}

.liste-salle-pays td {
    padding-top: 0.5em;
}

.liste-salle-participant, .liste-candidats, .liste-candidats-bulletin {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.liste-emargement-participant {
    border: 1px solid black;
}

.liste-emargement-participant td {
    border: 1px solid black;
}

.region-bulletin {
    color: darkred;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1em;
}