/* ---end media screen--- */

body {

    font-family: "Open Sans",sans-serif;
    font-size: 0.9em;
    /*background: url(img/fond.jpg);*/
    padding: 0; margin: 0;
}
.entete {
    float: right;
}
.logo {
    float: left;
    margin-right: 10px;
}
.tetiere {
    
}
.surtitre {
    color: darkred;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 50px;
}

.titre {
    color: white;
    background-color: darkred;
    font-weight: bold;
    font-size: 2em;
    float: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

.liste-salle-pays, .liste-emargement-pays {
    font-size: 2em;
}

.liste-salle-pays td {
    padding-top: 0.5em;
}

.liste-salle-participant, .liste-candidats, .liste-candidats-bulletin {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.liste-emargement-participant {
    border: 1px solid black;
}

.liste-emargement-participant td {
    border: 1px solid black;
}

.region-bulletin {
    color: darkred;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1em;
}

.depouillement-cell-total {
    border: 1px solid black;
    background-color: #777777;
}

.depouillement-cell-compte {
    border: 1px solid black;
}

.depouillement-cell-region {
    border: 1px solid black;
}

.depouillement-cell-nom-candidat {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.depouillement-ligne-espace {
    height: 1em;
}

.grise {
    background-color: lightgray;
}

.grille-nb-feuilles {
    float: right;
    width: 10%;
}

.grille-nb-feuilles td {
    border: 1px solid black;
    width: 50%;
}

.table-depouillement {
    width: 89%;
}


/* ---end media screen--- */

@media print {

.body {
    padding: 10px;
}
.entete {
    clear: both;
    margin-bottom: 5px;
    margin-right: 5px;
}

.logo img {
    width: 99%;
}
.logo {
    display: inline;
    width: 25%;
    float: left;
    margin-top: 25px;
}
.tetiere {
    display: inline;
    width: 75%;
}
.surtitre {
    font-size: 1em;
    margin-top: 0px;
    padding-left: 5px;
}

.titre {
    font-size: 1.1em;
    padding: 5px;
    width: auto;
}

}
