{% extends "gestion/base.html" %}
{% block title %}Ateliers scientifiques - AG2013{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "tableau_de_bord" %}">Accueil</a> &rsaquo;
        <a href="{% url "etats_listes" %}">États et listes</a> &rsaquo;
        Ateliers scientifiques
    </div>
{% endblock breadcrumbs %}
{% block content %}
<h2>Ateliers scientifiques</h2>
<div id="utils">
<p>Rapport généré le :  {{ maintenant|date:"D, d-m-Y à H:s" }}</p>
</div>
<div id="Lateliers">
<ul>
{% for atelier in donnees %}
<li class="niveau1"><h3>{{ atelier.id }} {{ atelier.titre }}</h3> ( {{ atelier.elements.count }} ) participants inscrits
    <ul>
        {% for participant in atelier.elements %}
            <li class="niveau3"><a href="{% url "fiche_participant" participant.id %}">
                {{ participant.get_nom_prenom }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endfor %}
</ul>
</div>
{% endblock %}
