{% extends "gestion/base.html" %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/i18n/jquery-ui-i18n.min.js"></script>
{% endblock %}
{% block title %}États et listes - AG2017{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "tableau_de_bord" %}">Accueil</a> &rsaquo;
        États et listes
    </div>
{% endblock breadcrumbs %}
{% block content %}
<ul>
<li><a href="{% url "etat_inscrits" %}">Liste des participants inscrits</a>
    (<a href="{% url "export_donnees_csv" %}">
        Export CSV
    </a>)
</li>
<li><a href="{% url "etat_activites" %}">Participation aux soirées</a></li>
<li><a href="{% url "etat_paiements" %}">
    État des paiements
</a></li>
<li><a href="{% url "etat_votants" %}">Liste votants</a></li>
<li><a href="{% url "etat_vols" %}">Liste des vols</a></li>
<li><a href="{% url "liste_participants_activites_scientifiques" %}">
    Participation aux ateliers scientifiques
</a></li>
<li><a target="_blank" href="{% url "liste_coupons" %}">Listes transfert</a></li>
<li><a target="_blank" href="{% url "liste_hotels" %}">Listes check-in hôtels</a></li>
</ul>

{% endblock %}
{% block js_initializations %}
{{ block.super }}
{% comment %}
<script type="text/javascript">
$(document).ready(function() {
    $.datepicker.setDefaults( $.datepicker.regional[ "fr" ] );
    $('input[name$="jour"]').datepicker( {
       dateFormat: "d/m/yy",
       minDate: new Date(2017,4,1 ),
       maxDate: new Date(2017,5,30 )
   } );
});
</script>
{% endcomment %}
{% endblock %}
