{% extends "gestion/base.html" %}
{% block title %}Tous les vols - AG2017{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "tableau_de_bord" %}">Accueil</a>&rsaquo;
        <a href="{% url "etats_listes" %}">États et listes</a>&rsaquo;
        Tous les vols
    </div>
{% endblock %}
{% block content %}
<div id="utils">
    <p>Rapport généré le :  {% now "D, d-m-Y à H:s" %}</p>
    <p><a href="{% url "etat_vols_csv" %}">Télécharger la liste en format CSV</a></p>
</div>
<h2>Tous les vols</h2>
<div id="filtre_ville">
<div id="masques">
<button id="hideA">Masquer/afficher</button><div id="monDivA">&nbsp;les lignes de type Arrivée</div>
 <br />
<button id="hideD">Masquer/afficher</button><div id="monDivD">&nbsp;les lignes de type Départ</div>
</div>

<form id="filtre_ville_form">
<span>
    <label for="filtre_depart">Ville de départ :</label>
    <select id="filtre_depart" name="ville_depart">
    {% for ville in villes_depart %}
        <option value="{{ ville }}"
            {% ifequal ville ville_depart %}SELECTED{% endifequal %}>
            {{ ville }}</option>
    {% endfor %}
    </select>
</span>
<br />
<span>
    <label for="filtre_arrivee">Ville d'arrivée :&nbsp;&nbsp;</label>
    <select id="filtre_arrivee" name="ville_arrivee">
        {% for ville in villes_arrivee %}
            <option value="{{ ville }}"
                    {% ifequal ville ville_arrivee %}SELECTED{% endifequal %}>
                {{ ville }}</option>
        {% endfor %}
    </select>
</span>
</form>
</div>

{% regroup donnees by date1 as liste_dates %}
<table id="listevols">
    {% for donnees_date in liste_dates %}
    <thead>
        <tr class="ligne-date">
        <th class="ligne-date" colspan="15">
            {{ donnees_date.grouper|date:"d-m-Y" }}
            ({{ donnees_date.list|length }})</th>
        </tr>
        <tr>
        <th>Date</th><th>Heure</th><th>Compagnie</th><th># vol</th><th>Ville</th>
        <th>Type</th><th>c</th><th>Nom</th><th>Prénom</th>
        <th>Direction</th><th>Ville</th><th>Date</th>
        <th>Vol groupé</th><th>PEC tran</th>
        <th>PEC héb</th>
      </tr>
   </thead>
<tbody>
        {% for ligne in donnees_date.list %}
        <tr class="{{ ligne.vers_de }}">
            <td></td>
            <td>{{ ligne.heure1 }}</td>
            <td>{{ ligne.compagnie }}</td>
            <td>{{ ligne.no_vol }}</td>
            <td class="ville1">{{ ligne.ville1 }}</td>
            <td>{{ ligne.dep_arr }}</td>
            <td>{{ ligne.genre }}</td>
            <td><a href="{% url "fiche_participant" ligne.participant_id %}">
                {{ ligne.nom }}</a></td>
            <td>{{ ligne.prenom }}</td>
            <td>{{ ligne.vers_de }}</td>
            <td class="ville2">{{ ligne.ville2 }}</td>
            <td>{{ ligne.date2|date:"d-m-Y" }}</td>
            <td>{% if ligne.vol_groupe_id %}
                <a href="{% url "modifier_vol_groupe" ligne.vol_groupe_id %}">
                {{ ligne.vol_groupe_nom }}</a>
                {% else %}---
                {% endif %}</td>
            <td>{{ ligne.prise_en_charge_transport|yesno:"oui,non,non" }}</td>
            <td>{{ ligne.prise_en_charge_sejour|yesno:"oui,non,non" }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endfor %}


</table>
{% endblock %}
{% block js_initializations %}
    {{ block.super }}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
$(function() {
    $('#filtre_ville_form select').change(function() {
        $('#filtre_ville_form').submit();
    });
});
</script>
<script>
$(document).ready(function(){
  $("#hideD").click(function(){
    $(this).toggleClass("selected");
    $("#monDivD").toggleClass("barre");
      if ($(this).hasClass("selected")) {
          $(".vers").hide();
      } else {
          $(".vers").show();
      }
  });
  $("#hideA").click(function(){
    $(this).toggleClass("selected");
    $("#monDivA").toggleClass("barre");
    if ($(this).hasClass("selected")) {
        $(".de").hide();
    } else {
        $(".de").show();
    }
  });
});
</script>
{% endblock %}
