<!DOCTYPE HTML>
<html lang="fr">
<body>
{% for entete, lignes in donnees %}
    <table>
    <thead>
    <tr>
      <th colspan="8">
          {% if entete.depart_arrivee == DEPART %}
            Mogador → {{ entete.ville }}
          {% else %}
            {{ entete.ville }} → Mogador
        {% endif %}

      </th>
    </tr>
    <tr>
      <th>
        {% if entete.depart_arrivee == DEPART %}
          Départ le
        {% else %}
          Arrivée le{% endif %}
        {{ entete.date }}
      </th>
      <th>Type</th><th>Région</th><th>Hôtel</th><th>Heure</th><th>Vol</th>
      <th># passagers</th><th>Autres passagers</th>
    </tr>
    </thead>
    <tbody>
    {% for ligne in lignes %}
      <tr>
        <td>{{ ligne.nom }}</td>
        <td>{{ ligne.type }}</td>
        <td>{{ ligne.region }}</td>
        <td>{{ ligne.hotel }}</td>
        <td>{{ ligne.heure }}</td>
        <td>{{ ligne.compagnie }} {{ ligne.vol }}</td>
        <td>{{ ligne.nb_passagers }}</td>
        <td>{{ ligne.autres_passagers }}</td>
      </tr>
    {% endfor %}
    </tbody>

    </table>
{% endfor %}
<div style="page-break-after: always"> </div>
</body>


</html>