{% extends "gestion/base.html" %}
{% block title %}Règles de gestion AG 2017{% endblock title %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "tableau_de_bord" %}">Accueil</a> &rsaquo;
        Règles de gestion
    </div>
{% endblock breadcrumbs %}
{% block content %}
<h3>Configuration du sytème</h3>
<table>
		<tbody>
		<tr style="background-color: #F0F0F0;">
			<td>La synchronisation CODA (défaut de cotisation) s'effectue 1 fois par jour 7:00 AM heure de MTL</td>
		</tr>
		<tr>
			<td>La mise à jour d'une adresse courriel PHA (actif) dans GDE, entraînera automatiquement un envoi à cette adresse (invitation inscription PHA)</td>
		</tr>
<tr style="background-color: #F0F0F0;">
			<td>Les règles de prise en charge sont des paramètres automatiques dans le formulaire d'inscription</td>
		</tr>
		<tr>
			<td>L'ajout d'un participant à même l'outil de gestion (sans formulaire web) n'est pas limitatif sur les règles de prises en charge (entrée manuelle)</td>
		</tr>
		</tbody>
</table>
	<hr />
	<table cellspacing="0" border="0">
	<colgroup width="55"></colgroup>
	<colgroup width="142"></colgroup>
	<colgroup width="199"></colgroup>
	<colgroup width="256"></colgroup>
	<colgroup width="139"></colgroup>
	<colgroup width="259"></colgroup>
	<colgroup width="94"></colgroup>
	<colgroup width="76"></colgroup>
	<colgroup width="85"></colgroup>
	<colgroup width="67"></colgroup>
	<tr>
		<td colspan="10"><h2>Règles de prise en charge – AG 2017</h2></td>
	</tr>
	<tr>
		<td rowspan=2 bgcolor="#CCCCCC"><b>FORM</b></td>
		<td rowspan=2 bgcolor="#CCCCCC"><b>FICHE</b></td>
		<td rowspan=2 bgcolor="#CCCCCC"><b>INSTITUTION REPRÉSENTÉE</b></td>
		<td rowspan=2 bgcolor="#CCCCCC"><b>CRITÈRE SUPPLEMENTAIRE</b></td>
		<td rowspan=2 bgcolor="#CCCCCC"><b>CATÉGORIE</b></td>
		<td rowspan=2 bgcolor="#CCCCCC"><b>FONCTION à l'AG</b></td>
		<td colspan=4 align="center" bgcolor="#CCCCCC"><b>Types de prise en charge (PEC)</b></td>
		</tr>
	<tr>
		<td><b>PARTICIPATION</b></td>
		<td><b>AVION</b></td>
		<td><b>HOTEL</b></td>
		<td><b>PERDIEM</b></td>
	</tr>
	<tr>
		<td bgcolor="#FFB2E1">WEB</td>
		<td bgcolor="#E6FF00">Participant</td>
		<td bgcolor="#E6FF00">Établissement membre</td>
		<td bgcolor="#E6FF00">[titulaire du nord]</td>
		<td bgcolor="#E6FF00">Représentant</td>
		<td bgcolor="#E6FF00">Représentant universitaire</td>
		<td bgcolor="">Facturé</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
	</tr>
	<tr>
		<td bgcolor="#FFB2E1">WEB</td>
		<td bgcolor="#E6FF00">Participant</td>
		<td bgcolor="#E6FF00">Établissement membre</td>
		<td bgcolor="#E6FF00">[associé du nord]</td>
		<td bgcolor="#E6FF00">Représentant</td>
		<td bgcolor="#E6FF00">Représentant universitaire</td>
		<td bgcolor="">Facturé</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
	</tr>
	<tr>
		<td bgcolor="#FFB2E1">WEB</td>
		<td bgcolor="#E6FF00">Participant</td>
		<td bgcolor="#E6FF00">Établissement membre</td>
		<td bgcolor="#E6FF00">[titulaire du sud]</td>
		<td bgcolor="#E6FF00">Représentant</td>
		<td bgcolor="#E6FF00">Représentant universitaire</td>
		<td bgcolor="">Facturé</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#33CC66">oui (A)</td>
		<td bgcolor="#33CC66">oui (A)</td>
	</tr>
	<tr>
		<td bgcolor="#FFB2E1">WEB</td>
		<td bgcolor="#E6FF00">Participant</td>
		<td bgcolor="#E6FF00">Établissement membre</td>
		<td bgcolor="#E6FF00">[associé du sud]</td>
		<td bgcolor="#E6FF00">Représentant</td>
		<td bgcolor="#E6FF00">Représentant universitaire</td>
		<td bgcolor="">Facturé</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#33CC66">oui (B)</td>
		<td bgcolor="#FF0000">non</td>
	</tr>
	<tr>
		<td bgcolor="#FFB2E1">WEB</td>
		<td bgcolor="#FFFF66">Participant</td>
		<td bgcolor="#FFFF66">Établissement membre</td>
		<td bgcolor="#FFFF66">N/A</td>
		<td bgcolor="#FFFF66">Accompagnateur</td>
		<td bgcolor="#FFFF66">Accompagnateur universitaire</td>
		<td bgcolor="">Facturé</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
	</tr>
	<tr>
		<td>WEB</td>
		<td>non-participant</td>
		<td>N/A</td>
		<td>N/A</td>
		<td>Accompagnateur</td>
		<td>Accompagnateur personnel *</td>
		<td bgcolor="">Facturé Supp (1)</td>
		<td bgcolor="#FF0000">non  </td>
		<td bgcolor="#FF0000">Supp (2)</td>
		<td bgcolor="#FF0000">non</td>
	</tr>
	<tr>
		<td bgcolor="#AECF00">AUF</td>
		<td bgcolor="#FF9966">Participant</td>
		<td bgcolor="#FF9966">N/A</td>
		<td bgcolor="#FF9966">N/A</td>
		<td bgcolor="#FF9966">Observateur</td>
		<td bgcolor="#FF9966">Intervenant au Colloque</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#33CC66">oui (A)</td>
		<td bgcolor="#33CC66">oui (A)</td>
	</tr>
	<tr>
		<td bgcolor="#AECF00">AUF</td>
		<td bgcolor="#FF9966">Participant</td>
		<td bgcolor="#FF9966">N/A</td>
		<td bgcolor="#FF9966">N/A</td>
		<td bgcolor="#FF9966">Observateur</td>
		<td bgcolor="#FF9966">Personnalité invitée par la direction AUF </td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#33CC66">oui (A)</td>
		<td bgcolor="#33CC66">oui (A)</td>
	</tr>
	<tr>
		<td bgcolor="#AECF00">AUF</td>
		<td bgcolor="#FF9966">Participant</td>
		<td bgcolor="#FF9966">Médias invités</td>
		<td bgcolor="#FF9966">N/A</td>
		<td bgcolor="#FF9966">Observateur</td>
		<td bgcolor="#FF9966">Représentant de la presse</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#33CC66">oui (A)</td>
		<td bgcolor="#33CC66">oui (A)</td>
	</tr>
	<tr>
		<td bgcolor="#AECF00">AUF</td>
		<td bgcolor="#FF9966">Participant</td>
		<td bgcolor="#FF9966">Opérateur de la Francophonie</td>
		<td bgcolor="#FF9966">N/A</td>
		<td bgcolor="#FF9966">Observateur</td>
		<td bgcolor="#FF9966">Représentant d'un Opérateur de la Francophonie</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
	</tr>
	<tr>
		<td bgcolor="#AECF00">AUF</td>
		<td bgcolor="#FF9966">Participant</td>
		<td bgcolor="#FF9966">Gouvernement</td>
		<td bgcolor="#FF9966">N/A</td>
		<td bgcolor="#FF9966">Observateur</td>
		<td bgcolor="#FF9966">Représentant politique</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
	</tr>
	<tr>
		<td bgcolor="#AECF00">AUF</td>
		<td bgcolor="#FFCC99">Participant</td>
		<td bgcolor="#FFCC99">Gouvernement</td>
		<td bgcolor="#FFCC99">N/A</td>
		<td bgcolor="#FFCC99">Accompagnateur</td>
		<td bgcolor="#FFCC99">Accompagnateur gouvernemental </td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
	</tr>
	<tr>
		<td bgcolor="#AECF00">AUF</td>
		<td bgcolor="#FF9966">Participant</td>
		<td bgcolor="#FF9966">Autres</td>
		<td bgcolor="#FF9966">N/A</td>
		<td bgcolor="#FF9966">Observateur</td>
		<td bgcolor="#FF9966">Entreprise/fondation/association</td>
		<td bgcolor="#FF0000">non </td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
	</tr>
	<tr>
		<td bgcolor="#AECF00">AUF</td>
		<td bgcolor="#99CCFF">Participant</td>
		<td bgcolor="#99CCFF">AUF</td>
		<td bgcolor="#99CCFF">N/A</td>
		<td bgcolor="#99CCFF">Organisateur</td>
		<td bgcolor="#99CCFF">Personnel AUF</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#33CC66">oui (D)</td>
		<td bgcolor="#33CC66">oui (D)</td>
	</tr>
	<tr>
		<td bgcolor="#AECF00">AUF</td>
		<td bgcolor="#99CCFF">Participant</td>
		<td bgcolor="#99CCFF">Fournisseur</td>
		<td bgcolor="#99CCFF">N/A</td>
		<td bgcolor="#99CCFF">Organisateur</td>
		<td bgcolor="#99CCFF">Prestataire externe</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
	</tr>
	<tr>
		<td colspan="10" valign=middle>Le type d'institution suivant peut se rajouter en plus des autres dans la fiche du participant. <br>Seuls les administrateurs peuvent sélectionner cette option. <br>Si le participant ne représente ni son gouvernement ni son établissement lors de l'AG, il n'y a aucune information à intégrer à propos de son institutions de rattachement.</td>
		</tr>
	<tr>
		<td bgcolor="#AECF00">AUF</td>
		<td bgcolor="#FFD320">Participant ( option )</td>
		<td bgcolor="#FFD320">Instance de l’AUF</td>
		<td bgcolor="#FFD320">[CA**] [membre universitaire]</td>
		<td bgcolor="#FFD320">Observateur</td>
		<td bgcolor="#FFD320">Membre d'une instance de l'AUF</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#33CC66">Oui (C)</td>
		<td bgcolor="#33CC66">Oui (C)</td>
	</tr>
	<tr>
		<td bgcolor="#AECF00">AUF</td>
		<td bgcolor="#FFD320">Participant ( option )</td>
		<td bgcolor="#FFD320">Instance de l’AUF</td>
		<td bgcolor="#FFD320">[CA**] [représentant de gouvernement]</td>
		<td bgcolor="#FFD320">Observateur</td>
		<td bgcolor="#FFD320">Membre d'une instance de l'AUF</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
		<td bgcolor="#FF0000">non</td>
	</tr>
	<tr>
		<td bgcolor="#AECF00">AUF</td>
		<td bgcolor="#FFD320">Participant ( option )</td>
		<td bgcolor="#FFD320">Instance de l’AUF</td>
		<td bgcolor="#FFD320">[CS]</td>
		<td bgcolor="#FFD320">Observateur</td>
		<td bgcolor="#FFD320">Membre d'une instance de l'AUF</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#33CC66">oui</td>
		<td bgcolor="#33CC66">oui (C)</td>
		<td bgcolor="#33CC66">oui (C)</td>
	</tr>
	<tr>
		<td colspan="6">* L'accompagnateur personnel n'a pas de fiche dans l'application, il est associé à la fiche du participant qu'il/elle accompagne. <br>Les frais (suppléments) sont ajoutés à la facture du participant<br>** CA membres sortants seulement</td>
		<td colspan="4">
		<strong>
		Les frais de participation (PEC ou facturé) incluent : <br>les déjeuners (10,11,12) et les repas du soir (9,10,11,12)
		<br>(A) :</strong> PEC Hotel et vol organisé par l'AUF du 9 (15h) au 13 (12h) mai
		<br>PER DIEM : si le vol organisé par l'AUF est en dehors des dates
		<br>Forfait Hôtel= Nb Escales &gt; 5h<br>Forfait repas soir= Nb jours avant 9mai + Nb jours après 13mai
		<br><strong>(B) :</strong> PEC Hotel du 9 (15h) au 13 (12h) mai
		<br><strong>Supp (1) :</strong> Frais supplémentaires (Activités du soir) à la carte
		<br><strong>Supp (2) :</strong> Frais supplémentaires (Chambre occupation double)
		<br><strong>(C) :</strong> PEC Hotel et vol organisé par l'AUF du 8 (15h) au 13 (12h) mai
		<br>PER DIEM : Forfait repas soir (8 mai), forfait repas déjeuner (9 mai)
		<br><strong>(D) :</strong> PEC Hotel et vol organisé par l'AUF du 6 au 13 mai 
		<br>incluant les petits-déjeuners et déjeuners à l'hotel Mogador
		<br>PER DIEM : forfait repas du soir (6-7-8 mai)
		</td>
	</tr>
</table>
<hr />
<h2>Royal Air Maroc – Grille tarifaire – AG 2017 AUF</h2>
		<p>La grille ci-dessous sera mise à la disposition des participants dans les agences Royal Air Maroc des pays/villes concernés.</td>
		</p>
		<p>Vous pouvez communiquer les codes aux participants qui réservent des billets d’avion eux-mêmes (accompagnateurs universitaires, accompagnateurs personnels, tout autre participant non pris en charge par l’AUF).</p>
<table>
	<tbody>
	<thead>
		<th>Ville</th>
		<th>Pays</td>
		<th>Relation/Code</th>
		<th>Devise</th>
		<th>Tarif publié</th>
		<th>Tarif AUF TTC en USD</th>
	</thead>
	<tr>
		<td>Le Caire,</td>
		<td>Égypte</td>
		<td>CAICMN</td>
		<td>EGP</td>
		<td>297</td>
		<td>330</td>
	</tr>
	<tr>
		<td>Tunis,</td>
		<td>Tunisie</td>
		<td>TUNCMN</td>
		<td>TND</td>
		<td>298</td>
		<td>330</td>
	</tr>
	<tr>
		<td>Alger,</td>
		<td>Algérie</td>
		<td>ALGCMN</td>
		<td>DZD</td>
		<td>303</td>
		<td>330</td>
	</tr>
	<tr>
		<td>Nouakchott,</td>
		<td>Mauritanie</td>
		<td>NKCCMN</td>
		<td>MRO</td>
		<td>369</td>
		<td>400</td>
	</tr>
	<tr>
		<td>Praia,</td>
		<td>Cap Vert</td>
		<td>RAICMN</td>
		<td>CVE</td>
		<td>388</td>
		<td>400</td>
	</tr>
	<tr>
		<td>Dakar,</td>
		<td>Sénégal</td>
		<td>DKRCMN</td>
		<td>XOF</td>
		<td>450</td>
		<td>450</td>
	</tr>
	<tr>
		<td>Abidjan,</td>
		<td>Côte d’Ivoire</td>
		<td>ABJCMN</td>
		<td>XOF</td>
		<td>519</td>
		<td>450</td>
	</tr>
	<tr>
		<td>Bamako,</td>
		<td>Mali</td>
		<td>BKOCMN</td>
		<td>XOF</td>
		<td>590</td>
		<td>550</td>
	</tr>
	<tr>
		<td>Ouagadougou,</td>
		<td>Burkina Faso</td>
		<td>OUACMN</td>
		<td>XOF</td>
		<td>614</td>
		<td>550</td>
	</tr>
	<tr>
		<td>Niamey,</td>
		<td>Niger</td>
		<td>NIMCMN</td>
		<td>XOF</td>
		<td>647</td>
		<td>550</td>
	</tr>
	<tr>
		<td>Beyrouth,</td>
		<td>Liban</td>
		<td>BEYCMN</td>
		<td>USD</td>
		<td>650</td>
		<td>550</td>
	</tr>
	<tr>
		<td>Bangui,</td>
		<td>RCA</td>
		<td>BJLCMN</td>
		<td>GMD</td>
		<td>810</td>
		<td>750</td>
	</tr>
	<tr>
		<td>Conakry,</td>
		<td>Guinée</td>
		<td>CKYCMN</td>
		<td>USD</td>
		<td>854</td>
		<td>750</td>
	</tr>
	<tr>
		<td>Cotonou,</td>
		<td>Bénin</td>
		<td>COOCMN</td>
		<td>XOF</td>
		<td>855</td>
		<td>750</td>
	</tr>
	<tr>
		<td>Lomé,</td>
		<td>Togo</td>
		<td>LFWCMN</td>
		<td>XOF</td>
		<td>860</td>
		<td>750</td>
	</tr>
	<tr>
		<td>Freetown,</td>
		<td>Sierra Leone</td>
		<td>FNACMN</td>
		<td>USD</td>
		<td>916</td>
		<td>850</td>
	</tr>
	<tr>
		<td>Monrovia,</td>
		<td>Libéria</td>
		<td>ROBCMN</td>
		<td>USD</td>
		<td>949</td>
		<td>850</td>
	</tr>
	<tr>
		<td>Guinée</td>
		<td>Biseau</td>
		<td>OXBCMN</td>
		<td>XOF</td>
		<td>960</td>
		<td>850</td>
	</tr>
	<tr>
		<td>Brazzaville,</td>
		<td>Congo</td>
		<td>BZVCMN</td>
		<td>XAF</td>
		<td>1019</td>
		<td>900</td>
	</tr>
	<tr>
		<td>Doula,</td>
		<td>Cameroun</td>
		<td>DLACMN</td>
		<td>XAF</td>
		<td>1027</td>
		<td>900</td>
	</tr>
	<tr>
		<td>Yaoundé,</td>
		<td>Cameroun</td>
		<td>NSICMN</td>
		<td>XAF</td>
		<td>1027</td>
		<td>900</td>
	</tr>
	<tr>
		<td>Luanda,</td>
		<td>Angola</td>
		<td>LADCMN</td>
		<td>USD</td>
		<td>1122</td>
		<td>900</td>
	</tr>
	<tr>
		<td>Kinshasa,</td>
		<td>RDC</td>
		<td>FIHCMN</td>
		<td>USD</td>
		<td>1278</td>
		<td>900</td>
	</tr>
</tbody></table>
<hr />
<h2>Remboursement kilométrage – Membres titulaires (Maroc)</h2>
<table>
<tbody>
	<thead>
		<th><br></td>
		<th>Marrakech.KM</th>
		<th>Prix.U EURO</th>
		<th>Prix.T EURO</th>
		<th>Taux de change AUF</th>
		<th>Prix.T MAD</th>
	</thead>
	<tr>
		<td>Casablanca</td>
		<td>520</td>
		<td>0,30</td>
		<td>156,00</td>
		<td>10,77</td>
		<td>1&nbsp;680,12</td>
	</tr>
	<tr>
		<td>Rabat</td>
		<td>710</td>
		<td>0,30</td>
		<td>213,00</td>
		<td>10,77</td>
		<td>2&nbsp;294,01</td>
	</tr>
	<tr>
		<td>Fès</td>
		<td>1010</td>
		<td>0,30</td>
		<td>303,00</td>
		<td>10,77</td>
		<td>3&nbsp;263,31</td>
	</tr>
	<tr>
		<td>Mèknes</td>
		<td>990</td>
		<td>0,30</td>
		<td>297,00</td>
		<td>10,77</td>
		<td>3&nbsp;198,69</td>
	</tr>
	<tr>
		<td>Kénitra</td>
		<td>790</td>
		<td>0,30</td>
		<td>237,00</td>
		<td>10,77</td>
		<td>2&nbsp;552,49</td>
	</tr>
	<tr>
		<td>Oujda</td>
		<td>1800</td>
		<td>0,30</td>
		<td>540,00</td>
		<td>10,77</td>
		<td>5&nbsp;815,80</td>
	</tr>
	<tr>
		<td>Agadir</td>
		<td>640</td>
		<td>0,30</td>
		<td>192,00</td>
		<td>10,77</td>
		<td>2&nbsp;067,84</td>
	</tr>
	<tr>
		<td>El-Jadida</td>
		<td>440</td>
		<td>0,30</td>
		<td>132,00</td>
		<td>10,77</td>
		<td>1&nbsp;421,64</td>
	</tr>
	<tr>
		<td>Tétouan</td>
		<td>1320</td>
		<td>0,30</td>
		<td>396,00</td>
		<td>10,77</td>
		<td>4&nbsp;264,92</td>
	</tr>
	<tr>
		<td>Settat</td>
		<td>380</td>
		<td>0,30</td>
		<td>114,00</td>
		<td>10,77</td>
		<td>1&nbsp;227,78</td>
	</tr>
	<tr>
		<td>Béni-Mellal</td>
		<td>420</td>
		<td>0,30</td>
		<td>126,00</td>
		<td>10,77</td>
		<td>1&nbsp;357,02</td>
	</tr>
</table>
{% endblock %}
