{% extends 'gestion/base_edit_form.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} - Renseignements personnels{% endblock title %}
{% block page_crumb %}Renseignements personnels{% endblock %}
{% block form_fields %}<h1>Modifier Renseignements personnels</h1>{% crispy form %}{% endblock %}
{% block js_initializations %}
    {{ block.super }}
    <script type="text/javascript">
        var fonctions = JSON.parse("{{ fonctions }}");
        var institutions = JSON.parse("{{ institutions }}");

        $(document).ready(function () {
            function manage_controls_institution() {
                var fonction_id = $("#id_fonction").val();
                var controls_to_show;
                var managed_controls = [
                    'recherche_etablissement',
                    'id_institution',
                    'id_membre_ca_represente',
                    'id_instance_auf'
                ];
                var fonction_data = fonctions[fonction_id];
                if (fonction_data) {
                    if (fonction_data['etablissement']) {
                        controls_to_show = ['recherche_etablissement'];
                    } else if (fonction_data['instance_seulement']) {
                        controls_to_show = ['id_instance_auf'];
                        if ($('#id_instance_auf').val() === "A") {
                            controls_to_show.push('id_membre_ca_represente')
                        }
                    } else {
                        controls_to_show = ['id_institution'];
                        var select_institutions = $('#id_institution');
                        select_institutions.empty();
                        for(var i; i < institutions.length(); i++) {

                        }
                    }
                } else {
                    controls_to_show = [];
                }

                for (var i = 0; i < managed_controls.length; i++) {
                    var control_name = managed_controls[i];
                    if (controls_to_show.indexOf(control_name) > -1) {
                        $('#' + control_name).closest('div.form-row').show();
                    } else {
                        $('#' + control_name).closest('div.form-row').hide();
                    }
                }
            }

            $("#id_fonction,#id_instance_auf").change(function () {
                manage_controls_institution();
            });
            manage_controls_institution();
        });
    </script>
{% endblock js_initializations %}
