{% extends "gestion/base.html" %}
{% load gestion %}
{% block title %}Tableau de bord - AG2013{% endblock %}
{% block content %}
<ul class="object-tools">
  <li><a href="{% url "participants" %}">Liste des participants</a></li>
</ul>
<div class="module">
<h2>Inscriptions Web</h2>
<table>
    <thead>
    <tr>
        {% for mois, nb in inscriptions_par_mois %}
        <th>{{ mois|date:"M" }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for mois, nb in inscriptions_par_mois %}
            <td>{{ nb }}</td>
        {% endfor %}
    </tr>
    </tbody>
</table>

</div>


<div class="module">
<h2>Nombre de participants</h2>
<table>
  <thead>
	<tr>
		<th>Total</th>
        <th>{{ total_participants }}</th>
	</tr>
	</thead>
  <tbody>
    <tr>
      	<td>Actifs</td>
     	<td><a href="{% url "participants" %}">{{ total_actifs }}</a></td>
    </tr>
    <tr>
		<td>Désactivés</td>
		<td><a href="{% url "participants" %}?desactive=on">{{ total_desactives }}</a></td>
	</tr>
  </tbody>
</table>
</div>
    <div class="module">
        <h2>Par point de suivi</h2>
        <table>
            <thead><tr><th width="25%">Point de suivi</th>
              {% include "gestion/headers_regions.html" %}
              <th>Aucune</th>
            </tr></thead>
            <tbody>
            {% for ligne in par_point_de_suivi %}
                <tr>
                    <td>{{ ligne.label }}</td>
                  {% for sum_data in ligne.sums %}
                    <td>{{ sum_data|sum_data }}</td>
                  {% endfor %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<div class="module">
    <h2>Par fonction</h2>
    <table>
        <thead><tr>
          <th width="25%">Fonction</th>
          {% include "gestion/headers_regions.html" %}
          <th width="5%">Aucune</th>
          </tr></thead>
        <tbody>
        <tr>
          <td>Toutes fonctions</td>
            {% for sum_data in totaux_regions.sums %}
              <td>{{ sum_data|sum_data }}</td>
            {% endfor %}
        </tr>
        {% for ligne_fonction in par_fonction %}
            <tr>
                <td>{{ ligne_fonction.label }}</td>
              {% for sum_data in ligne_fonction.sums %}
                <td>{{ sum_data|sum_data }}</td>
              {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="module">
  <h2>Membres participants</h2>
  <table>
    <thead>
    <tr>
      <th width="25%">Statut/Qualité</th>
      {% include "gestion/headers_regions.html" %}
    </tr>
    </thead>
    <tbody>
      {% for ligne in par_statut_qualite %}
        <tr>
          <td>{{ ligne.label }}</td>
          {% for sum_data in ligne.sums %}
            <td>{{ sum_data|sum_data }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="module">
    <h2>Votants</h2>
    <table>
        <thead>
            <tr>
              <th width="25%">Membres votants</th>
              <th>Total</th>
              {% for localisation in localisations_electeurs %}
                <th>{{localisation}}</th>
              {% endfor %}
            </tr>
        </thead>
      <tbody>
      {% for ligne in par_region_vote %}
        <tr>
          <td>{{ ligne.label }}</td>
          {% for sum_data in ligne.sums %}
            <td>{{ sum_data|sum_data }}</td>
          {% endfor %}
        </tr>
      {% endfor %}

      </tbody>
    </table>
</div>


  {% include "gestion/table_sommes_par_region.html" with titre="Prise en charge" lignes=par_prise_en_charge %}

  {% include "gestion/table_sommes_par_region.html" with titre="Paiements" lignes=par_statut_paiement %}

  <div class="module">
    <h2>Occupation des Hôtels</h2>
    <table>
        <thead><tr><th rowspan="2">Date</th>
            {% for hotel in hotels %}
            <th colspan="{{ hotel.nombre_types_chambres }}">{{ hotel.libelle }}</th>
            {% endfor %}</tr>
            <tr>
                {% for hotel in hotels %}
                    {% for chambre in hotel.chambres.values %}
                        <th>{{ chambre.type_chambre.libelle_plur }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for donnees in donnees_hotels_par_jour %}
            <tr>
                <td>{{ donnees.0 }}</td>
                {% for nombre_chambres in donnees.1 %}
                    <td>{{ nombre_chambres }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td>Total nuitées</td>
            {% for total in totaux_hotels %}
               <td>{{ total }}</td>
            {% endfor %}

        </tr>
        </tfoot>
    </table>
</div>


{% endblock content %}
