{% extends "elections/base_listes.html" %}

{% block titre %}
  {{ nom_election }}<br>
  {{ nb_sieges }} siège{{ nb_sieges|pluralize }}
{% endblock %}

{% block tables %}
<table class="liste-candidats-bulletin">
  {% for candidat in candidats %}
    <tr>
      <td width="5%">&#x25a2;</td>
      <td width="20%">{{ candidat.nom }}</td>
      <td width="20%">{{ candidat.prenom }}</td>
      <td width="20%">{{ candidat.poste }}</td>
      <td width="20%">{{ candidat.nom_institution }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}