{% extends "elections/base_listes.html" %}
{% block titre_doc %}17e Assemblée générale des membres de l’AUF – Marrakech (Maroc) 2017
{% endblock %}
{% block titre %}
  {{ nom_election }}
{% endblock %}
{% block soustitre %}
Bulletin de vote - Total de {{ nb_sieges_total }} sièges
{% endblock %}
{% block explication %}
      Ne remplissez que le nombre de cases indiquées par région, sinon votre vote sera annulé
    {% endblock %}
{% block tables %}
{% for region in regions %}
 <div class="region-bulletin">
{{ region.nom_region }} ({{ region.nb_sieges }} sièges)
 <span class="directive">
   Cochez {{ region.nb_sieges }} case{{ region.nb_sieges|pluralize }}
 </span>  
 </div>
<table class="liste-candidats-bulletin">
  {% for candidat in region.candidats %}
    <tr>
      <td class="case" width="10%">&#x25a2;</td>
      <td class="name" width="40%">
        <strong>{{ candidat.nom }}, {{ candidat.prenom }}</strong><br>
        <span class="supp">→ Suppléant : </span> {{ candidat.get_nom_suppleant }}
      </td>
      <td width="50%">{{ candidat.poste }}<br><strong>{{ candidat.nom_institution }}</strong><br>
        {{ candidat.etablissement.ville }}, {{ candidat.etablissement.pays.nom }}
      </td>
    </tr>
  {% endfor %}


</table>

{% endfor %}

{% endblock %}