{% extends "elections/base_listes.html" %}
{% block titre_doc %}17e Assemblée générale des membres de l’AUF – Marrakech (Maroc) 2017
{% endblock %}
{% block titre %}
  {{ nom_election }}
{% endblock %}
{% block soustitre %}
Bulletin de vote - Total de {{ nb_sieges_total }} sièges
{% endblock %}
{% block explication %}
      Ne remplissez que {{ nb_sieges_total }} cases au total dans la liste, sinon votre vote sera annulé
    {% endblock %}
{% block tables %}
{% for region in regions %}
 <div class="region-bulletin">
{{ region.nom_region }}
 </div>
<table class="liste-candidats-bulletin">
  {% for candidat in region.candidats %}
    <tr>
      <td class="case" width="10%">&#x25a2;</td>
      <td class="name" width="30%"><strong>{{ candidat.nom }}</strong>, {{ candidat.prenom }}</td>
      <td width="50%">{{ candidat.poste }} -<br/>{{ candidat.nom_institution }}</td>
    </tr>
  {% endfor %}


</table>

{% endfor %}

{% endblock %}