{% extends "elections/base_listes.html" %}

{% block titre %}
  ÉLECTION DES MEMBRES DU CONSEIL ASSOCIATIF PAR LES TITULAIRES<br>
  {{ nb_sieges }} sièges
{% endblock %}

{% block tables %}
{% for region in regions %}
 <div class="region-bulletin">
{{ region.nom_region }}
 </div>
<table class="liste-candidats-bulletin">
  {% for candidat in region.candidats %}
    <tr>
      <td width="5%">&#x25a2;</td>
      <td width="20%">{{ candidat.nom }}</td>
      <td width="20%">{{ candidat.prenom }}</td>
      <td width="20%">{{ candidat.poste }}</td>
      <td width="20%">{{ candidat.nom_institution }}</td>
    </tr>
  {% endfor %}


</table>

{% endfor %}

{% endblock %}