{% extends "elections/depouillement/base.html" %}

{% block table_depouillement %}
  <table>
  <thead>
  <tr>
    <th>Région</th>
    <th>Candidat</th>
    {% include "elections/depouillement/cellules_head.html" %}
  </tr>
  </thead>
{% for region in regions %}
{% for candidat in region.candidats %}
  <tr>
  {% if forloop.first %}
    <td rowspan="{{ region.candidats|length }}"
        class="depouillement-cell-region">
      <strong>{{ region.nom_region }}</strong>
    </td>
  {% endif %}
  <td class="depouillement-cell-nom-candidat"><strong>{{ candidat.nom }}</strong>, {{ candidat.prenom }}</td>
{% include "elections/depouillement/cellules_candidat.html" %}
  </tr>
  {% endfor %}
  <tr><td class="depouillement-ligne-espace"></td></tr>
{% endfor %}
  </table>

{% endblock %}
