<h2>Désolé!</h2>
<p style="font-size: 15px; text-align: left;">
Le courriel : <span style="color: #003550;">{{ request.GET.adresse_courriel }} </span> <br>ne fait pas partie de la liste des
participants de la 16<sup>e</sup> assemblée générale. <br><br>
Veuillez entrer l'adresse qui est indiquée sur votre formulaire d'inscription.</p>
<p>
<a href="{% url "act_sci_login" %}" class="bouton_sub">Recommencer</a></p>
<p style="text-align: left; border-top: 1px solid grey; padding-top: 10px; margin-bottom: 0px;">
Si vous participez à l'assemblée générale et que votre adresse courriel n'ouvre pas le formulaire de sélection d'atelier, veuillez communiquer avec <a href="mailto:ag2103@auf.org?subject=ateliers scientifiques - aide demandée">ag2103@auf.org</a></p>
<p>
