{% extends "inscription/base.html" %}
{% load inscription %}

{% block formulaire %}
<h1>Formulaire d'inscription 1/7 - Accueil</h1>
<ul id="etapes">
    {% for etape in etapes %}
    {% if etape.tab_visible %}
        <li{% ifequal etape.n etape_courante.n %} class="etape_courante"{% else %}{% endifequal %}>
        {{ etape.label }}</li>
    {% endif %}
    {% endfor %}
</ul>
<form class="uniForm" method="post">
  {% csrf_token %}

<div class="buttonHolder">
  <p><strong>
    Votre formulaire d'inscription pour la 17e assemblée générale de l'AUF<br/>
    Marrakech, Maroc, du 10 au 12 mai 2017
    </strong></p>

L'inscription à l'assemblée générale vous permet de participer :

<p><strong>À l'ensemble des activités scientifiques</strong> (tables rondes,
  rencontres académiques expresses, présentations, colloques et autres activités
  organisées par l'AUF). 
</p>
<p>
  <strong>Aux temps forts institutionnels</strong> (ouverture de l'assemblée
  générale, modification des statuts, adoption des rapports d'activité,
  renouvellement de la présidence et des instances de gouvernance) 
</p>
<p><strong>Aux moments de détente ménagés dans le programme</strong> (soirées
  offertes par l'UNESP le 7 mai, par les consulats francophones le 8 mai et
  soirée de gala de clôture par l'AUF le 9 mai).
</p>

<p><strong>Processus d'inscription</strong></p>

<p>  L'inscription s'effectue en sept étapes successives. Avant la fin du processus,
  un récapitulatif vous sera soumis pour validation. Il vous sera alors possible
  de modifier les informations que vous aurez saisies.
</p>
  <p>Date limite d'inscription : 1er mars 2017</p>
<p><strong>Ne perdez pas le lien!</strong></p>
<p>Le lien qui vous a été envoyé par courriel vous permet de consulter en tout
  temps votre dossier d'inscription, où vous pourrez : ajouter des informations,
  demander des modifications et imprimer vos documents de participation.
  <strong>Gardez-le précieusement!</strong>
</p>
  <p>
    Pour toute information, écrivez-nous à 
    {% email_region "AG%202013%20-Formulaire%20en%20ligne" %}</p>
</div>

<div style="margin-bottom: 20px;">

{% if inscription.est_pour_mandate %}

  Ce formulaire s'adresse au <strong>représentant mandaté</strong> de
  l'établissement {{ inscription.get_etablissement.nom }}
  <p>Conformément aux dispositions des statuts, les représentants mandatés
    représentent officiellement un établissement ou un réseau membre de l'AUF
    (titulaire ou associé).</p>
  <p>
    Chaque institution ou réseau membre de l'AUF ne compte qu'un seul
    représentant mandaté. Les autres personnes issues du même établissement ou
    du même réseau s'incrivent en tant qu' « accompagnateur(s) institutionnels
    ». Une fois votre participation confirmée, vous pourrez inviter vos
    accompagnateurs. Un formulaire vous sera fourni à cet effet. Ils recevront à
    leur tour une invitation à remplir leur formulaire de participation.</p>
  <p><strong>Si le représentant mandaté n'est pas le chef d'établissement ou le
    président du réseau, il est impératif que ce dernier désigne un représentant
    mandaté pour le remplacer lors de l'assemblée générale.</strong></p>
{% else %}
  <p>Ce formulaire s'adresse à l'Accompagnateur institutionnel de
    l'établissement <strong>{{ inscription.get_etablissement.nom }}</strong>
  </p>
  <p>Les accompagnateurs issus du même établissement que le représentant mandaté
    peuvent s'inscrire à l'assemblée générale. Ils sont admis à l'ensemble des
    travaux, sauf disposition contraire, mais ils ne peuvent s'exprimer que par
    la voix du représentant mandaté et n'ont pas droit de vote.</p>
  <p>Pour information, les accompagnateurs ne peuvent pas demander une prise
      en charge. Les frais de leur mission doivent être entièrement pris en
      charge par leur institution de rattachement.</p>
{% endif %}

</div>

  {% if inscription.etablissement_delinquant %}
    <p class="avertissement">Attention : d'après les informations en notre
      possession, votre établissement n'est pas à jour de sa cotisation à
      l'AUF. Vous pouvez remplir le présent formulaire d'inscription, mais
      votre inscription ne sera validée qu'après règlement de l'année ou des
      années de cotisation impayées. Pour nous contacter à ce sujet, merci
      d'écrire à
      {% email_region "AG%202013%20-Formulaire%20en%20ligne%20-%20cotisation" %}
      en rappelant votre nom ainsi que celui de votre établissement.</p>
  {% endif %}

  <div class="buttonHolder">
  {% checkbox form.identite_confirmee %}
  {% checkbox form.conditions_acceptees %}
    <input type="submit" value="Débuter l'inscription en ligne" class="secondaryAction" />
  </div>
</form>
{% endblock %}
