<h3>Renseignements personnels</h3>

<fieldset class="inlineLabels">
  <div class="ctrlHolder">
    <div class="Label">Nom</div>
    <div class="Data">
    {{ inscription.get_genre_display }} {{ inscription.prenom }} {{ inscription.nom }}
    </div>
  </div>
  <div class="ctrlHolder">
    <div class="Label">Nationalité</div>
    <div class="Data">{{ inscription.nationalite }}</div>
  </div>
    <div class="ctrlHolder">
    <div class="Label">Établissement représenté</div>
    <div class="Data">{{ inscription.get_etablissement.nom }}</div>
  </div>
  <div class="ctrlHolder">
    <div class="Label">Poste occupé</div>
    <div class="Data">{{ inscription.poste }}</div>
  </div>
  <div class="ctrlHolder">
    <div class="Label">Adresse de facturation</div>
    <div class="Data">
      {{ inscription.adresse|linebreaksbr }}<br>
      {{ inscription.ville }} {{ inscription.code_postal }}<br>
      {{ inscription.pays }}
    </div>
  </div>
    <div class="ctrlHolder">
    <div class="Label">Courriel</div>
    <div class="Data">{{ inscription.courriel }}</div>
  </div>
  <div class="ctrlHolder">
    <div class="Label">Téléphone</div>
    <div class="Data">{{ inscription.telephone }}</div>
  </div>
  {% if inscription.telecopieur %}
  <div class="ctrlHolder">
    <div class="Label">Télécopieur</div>
    <div class="Data">{{ inscription.telecopieur }}</div>
  </div>
  {% endif %}
  {% if inscription.accompagnateur %}
  <div class="ctrlHolder">
    <div class="Label">
      En compagnie de
    </div>
    <div class="Data">
      {{ inscription.get_accompagnateur_genre_display }}
      {{ inscription.accompagnateur_prenom }}
      {{ inscription.accompagnateur_nom }}
    </div>
  </div>
  {% endif %}
</fieldset>

<h3>Transport et hébergement</h3>

<fieldset class="inlineLabels">
  <div class="ctrlHolder">
    <div class="Label">Hébergement</div>
    <div class="Data">
      {% if inscription.prise_en_charge_hebergement %}
        Prise en charge par l'AUF
        {% if inscription.accompagnateur %}
          <br/>
          </div>
          <div class="Data">(supplément occupation double) :
          <span style="float:right;">
            {{ forfaits.supplement_chambre_double.affiche }}&nbsp;€</span>
        {% endif %}
      {% else %}
        Prise en charge par le participant
      {% endif %}
      </div>
  </div>
  <div class="ctrlHolder">
    <div class="Label">Transport</div>
    <div class="Data">
      {% if inscription.prise_en_charge_transport %}
      Prise en charge par l'AUF
      {% else %}
      Prise en charge par le participant
      {% endif %}
    </div>
  </div>
</fieldset>

<h3>Programmation</h3>

<fieldset class="inlineLabels">
  <div class="ctrlHolder">
    <div class="Label">Frais d'inscription
    </div>
    <div class="Data">
      <span style="float:right;">
        {{ inscription.get_frais_inscription }}&nbsp;€</span>
    </div>
  </div>
  <div class="ctrlHolder">
    <div class="Label">
      Forfaits sélectionnés
    </div>
    <div class="Data">
      <span style="float:right;">
        {{ inscription.get_total_forfaits_suppl }}&nbsp;€</span>
    </div>
  </div>
</fieldset>
