{% extends "inscription/base.html" %}

{% block subtitle %}Aperçu de l'inscription{% endblock %}

{% block content %}
<h1>Formulaire d'inscription | 17<sup style="text-transform: none;">e</sup> AG - 
    10, 11 et 12 mai 2017, Marrakech, Maroc</h1>
  <ul id="etapes">
    {% for etape in etapes %}
    {% if etape.tab_visible %}
        <li{% ifequal etape.n etape_courante.n %} class="etape_courante"{% else %}{% endifequal %}>
        {{ etape.label }}</li>
    {% endif %}
    {% endfor %}
</ul>
{{ block.super }}
<div class="uniForm">
  <div class="intro">
    <p><strong>Veuillez réviser les informations qui suivent avant de soumettre
      votre inscription.</strong></p>
    <p class="attention">Les frais de participation à l'assemblée générale doivent être payés 
      <strong>avant le 1er mars 2017</strong>, délai de rigueur. <br>Toute
      inscription dont le paiement <strong>complet</strong> n'est pas effectué
      avant cette date sera annulée.</p>
  </div>
  <div class="formulaire apercu">
  <h2>Aperçu de votre dossier d'inscription</h2>
  {% include "inscription/apercu_include.html" %}
  <div class="ctrlHolder">
    <div class="Label">Total à payer</div>
    <div class="Data"><span style="float: right; font-weight: bold;">
      {{ inscription.get_montant_a_payer }}&nbsp;€</span>
    </div>
  </div>
  </div>

  <div class="buttonHolder formulaire" style="float: right; margin-left: 20px; width: 55%;">
    <p class="message"><strong>Si ces données sont exactes :</strong><br>
      Veuillez sélectionner une des options suivantes pour finaliser votre inscription. L'AUF recevra ainsi votre dossier de participation. <br>Consultez votre dossier en utilisant votre lien d'inscription.</p>
    <form method="post">
      {% csrf_token %}
      <input type="submit" class="primaryAction" name="confirmer"
             value="Autre méthode de paiement">
    </form>
    <div style="float: right; padding: 16px;">&nbsp;-Ou-&nbsp;</div>
    {% include "inscription/paypal_button_include.html" with button_label="Paiement en ligne" %}
    {% include "inscription/paypal_include.html" %}
  </div>
    <div class="buttonHolder formulaire" style="float: left; width: 32%; clear: none;">
  <p class="message"><strong>Modifier ces informations:</strong><br> Si vous souhaitez plus de temps, utilisez votre lien d'inscription pour revenir sur ce formulaire, vos informations ont été sauvegardées.</p>
    <form method="post">
      {% csrf_token %}
      <input type="submit" class="secondaryAction" name="modifier"
             value="Retour au formulaire">
    </form>
  </div>

</div>

{% endblock %}
{% block extra_js %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}paypal.js"></script>

{% endblock %}
