{% extends "inscription/base.html" %}

{% block subtitle %}Aperçu de l'inscription{% endblock %}

{% block content %}
 <h1>Formulaire d'inscription 6/7 - Aperçu</h1>
  <ul id="etapes">
    {% for etape in etapes %}
    {% if etape.tab_visible %}
        <li{% ifequal etape.n etape_courante.n %} class="etape_courante"{% else %}{% endifequal %}>
        {{ etape.label }}</li>
    {% endif %}
    {% endfor %}
</ul>
{{ block.super }}
<div class="uniForm">
  <div class="buttonHolder">
    <p><strong>Veuillez réviser les informations qui suivent avant de soumettre
      votre inscription.</strong><br/><br/>
      Les frais de participation à l'assemblée générale doivent être payés 
      <strong>avant le 1er mars 2017</strong>, délai de rigueur. Toute
      inscription dont le paiement <strong>complet</strong> n'est pas effectué
      avant cette date sera annulée.</p>
  </div>
  {% include "inscription/apercu_include.html" %}
  <h3>Modalités de paiement</h3>

  <div class="ctrlHolder">
    <div class="Label">Total à payer</div>
    <div class="Data"><span style="float: right; font-weight: bold;">
      {{ inscription.get_montant_a_payer }}&nbsp;€</span>
    </div>
  </div>
  <div class="buttonHolder">
    <p>Si les données sont exactes, confirmez à l'aide du bouton
      <strong>"Valider et envoyer"</strong> au bas de cette page pour finaliser
      votre inscription.<br/>
      Cliquez sur le bouton <strong>"Modifier"</strong> pour retourner au
      formulaire et effectuer les changements.</p>
  </div>
  <div class="buttonHolder">
    <form method="post">
      {% csrf_token %}
      <input type="submit" class="primaryAction" name="modifier"
             value="Modifier ces informations">
    </form>
    <form method="post">
      {% csrf_token %}
      <input type="submit" class="secondaryAction" name="confirmer"
             value="Confirmer et envoyer">
    </form>
    {% include "inscription/paypal_include.html" %}
  </div>
</div>

{% endblock %}
{% block extra_js %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}paypal.js"></script>

{% endblock %}
