	<h1>CONDITIONS GÉNÉRALES D'INSCRIPTION À LA 16e ASSEMBLÉE GÉNÉRALE DE L'AGENCE UNIVERSITAIRE DE LA FRANCOPHONIE
	</h1>

<h2>Article 1 – Définitions</h2>

<p>On entend par « établissement du Nord » tous les établissements membres de l’AUF situé dans un pays d’Europe occidentale (ou Europe de l’Ouest) et d’Amérique du Nord (Canada et États-Unis), et par « établissement du Sud » tous les établissements membres situés hors de ces pays.
</p>
<p>On entend par « membre titulaire » et « membre associé » le statut de membre de l’AUF des établissements adhérents, dont la liste est disponible sur <a href="http://www.auf.org/membres/" target="_blank">http://www.auf.org/membres/</a>
</p>

	<h2>Article 2 – Catégories de participants</h2>

<p>Deux catégories de participants peuvent participer à l'assemblée générale : le représentant mandaté d'un établissement membre de l'AUF à jour de cotisation (titulaire ou associé) et son ou ses accompagnateur(s), issu(s) du même établissement que le représentant mandaté (par exemple, un vice-recteur, un directeur des relations internationales, etc.)
</p>
<p>Les représentants mandatés représentent officiellement un établissement ou un réseau membre de l'AUF. Chaque institution ou réseau membre de l'AUF ne compte qu'un seul représentant mandaté. Si le représentant mandaté n'est pas le chef d'établissement ou le président du réseau, il est impératif que ce dernier désigne un représentant mandaté pour le remplacer lors de l'assemblée générale.
</p>
<p>Le représentant mandaté peut venir avec un ou plusieurs accompagnateur(s) à l'assemblée générale. Les accompagnateurs inscrits à l'assemblée générale sont admis à l'ensemble des travaux, sauf disposition contraire, mais ils ne peuvent s'exprimer que par la voix du représentant mandaté et n'ont pas droit de vote.
</p>

	<h2>Article 3 - Frais d'inscription</h2>

<p>Pour s'inscrire, le représentant mandaté comme son ou ses accompagnateur(s) doivent s'acquitter de frais d'inscription obligatoires, fixés à 330 euros par participant.
</p>
<p>Le paiement des frais d’inscription à l'assemblée générale permet de participer à l'ensemble des activités scientifiques prévues, aux temps forts institutionnels ainsi qu'aux activités culturelles prévues dans le programme (soirées du 7, 8 et 9 mai 2013). Les frais d'inscription comprennent également les transports des hôtels vers les lieux de réunion, les repas du midi, les pauses café et la mallette du participant.
</p>
<p>Le cas échéant, le règlement d'autres frais peut être exigé, notamment les cotisations impayées d'un établissement membre ou les frais de participation d'un proche ou d'un conjoint aux soirées organisées en marge de l'assemblée générale, voire pour l’hébergement de ce dernier dans le cas où un représentant mandaté pris en charge par l’AUF viendrait accompagné. 
</p>

	<h2>Article 4 – Invité non participant à l’assemblée générale</h2>

<p>Le représentant mandaté, tout comme ses accompagnateurs, peut également voyager avec un proche (par exemple, un conjoint). Le voyageur invité par un participant à l’assemblée générale ne paie pas de frais d’inscription et ne participe pas à celle-ci. Cette personne peut toutefois prendre part aux soirées et excursions qui se tiennent en marge de l’assemblée générale moyennant le paiement de frais de participation.
</p>
<p>Un invité accompagnant un représentant mandaté pris en charge par l’AUF peut être logé dans le même hôtel que celui-ci sous réserve de la disponibilité de la catégorie de chambre et du paiement des frais de 200 euros liés au changement de catégorie de chambre.
</p>

	<h2>Article 5 – Validation d’une inscription</h2>

<p>Une inscription d’un participant à l’assemblée générale ne sera validée que si l’établissement du participant est à jour de ses cotisations dues à l’AUF et après réception de la totalité des frais dus à l’AUF.
</p>

	<h2>Article 6 – Conditions de prise en charge par l’AUF</h2>

<p>L’AUF se réserve le droit d’accepter ou de refuser une demande de prise en charge. La prise en charge des frais de transport est réservée au représentant mandaté d'un établissement membre titulaire du Sud qui en fait la demande. Sous toute réserve, l'arrivée à São Paulo se fera le 6 mai et le départ de São Paulo le 10 mai 2013. La prise en charge des frais d’hébergement est réservée au représentant mandaté d’un établissement membre titulaire ou associé du Sud qui en fait la demande. Celle-ci ne peut excéder les nuits des 6, 7, 8 et 9 mai 2013. Toutes les nuits précédant ou suivant ces dates sont à la charge du participant et doivent être réservées par lui directement auprès de l'hôtel, l'AUF ne pouvant pas servir d'intermédiaire. Si la demande de prise en charge est acceptée par l’AUF, l'AUF fixe les modalités de transport et/ou d’hébergement du participant, qui doit les accepter sous peine de voir la prise en charge annulée.
</p>
<p>Les accompagnateurs ne peuvent pas demander une prise en charge, tout comme le proche ou le conjoint qui accompagne un participant. Les frais de la mission des accompagnateurs doivent être entièrement pris en charge par leur institution. 
</p>
<p>De manière générale, le paiement des frais d’inscription reste obligatoire pour tous les participants et aucune prise en charge n'est possible pour les excursions du 10 mai 2013.
</p>

	<h2>Article 7 – Conditions d’annulation d'une inscription</h2>

<p>Toute demande d'annulation devra être faite par écrit (courrier, fax ou courriel) au secrétariat de l'assemblée générale qui accusera réception de la demande d'annulation. Jusqu'au 1er mars 2013, le remboursement des frais payés sera effectué, moyennant la rétention par l'AUF d'un montant forfaitaire de 50 euros au titre de frais de gestion. 
</p>
<p>À partir du 2 mars 2013, aucune demande de remboursement ne sera accordée. 
</p>
<p>Tout remboursement sera effectué après la tenue de l'assemblée générale.
</p>
<p>Dans l'éventualité où l'établissement membre dont est issu un participant est en défaut de cotisation, ou que la prise en charge du participant par l'AUF est refusée, l'inscription sera annulée et les frais engagés remboursés, et ce sans limite de temps, moyennant la rétention par l'AUF d'un montant forfaitaire de 50 euros au titre de frais de gestion.
</p>

	<h2>Article 8 – Conditions d’entrée au Brésil</h2>


<p>Il est de la responsabilité de tout participant de prendre connaissance des conditions d'entrée sur le territoire de la République fédérative du Brésil auprès de la représentation diplomatique la plus proche, notamment les vaccins exigés et les modalités d'obtention d'un visa, si celui-ci est nécessaire. Sur demande, l'AUF peut fournir une invitation officielle indiquant le nom des personnes et le motif du voyage.

</p>
<p>La liste actualisée des pays dont les ressortissants n'ont pas besoin de visa se trouve à l'adresse suivante : <a href="http://www.portalconsular.mre.gov.br/antes/quadro-geral-de-regime-de-vistos-1" target="_blank">http://www.portalconsular.mre.gov.br/antes/quadro-geral-de-regime-de-vistos-1</a>. Il faut alors cliquer sur l'onglet :
Quadro Geral de Regime de Vistos para a Entrada de Estrangeiros no Brasil - Entrance Visas in Brazil
"Versão em Português" ou "English Version". 
</p>
<p>La liste complète des ambassades et consulats brésiliens est disponible sur les liens suivants : 
<a href="http://www.portalconsular.mre.gov.br/apoio/embaixadas-e-consulados" target="_blank">http://www.portalconsular.mre.gov.br/apoio/embaixadas-e-consulados</a>
<a href="http://embassy.goabroad.com/embassies-of/brazil" target="_blank">http://embassy.goabroad.com/embassies-of/brazil</a>

</p>
<p>Pour les personnes qui ont besoin d'un visa "VISTO DE TURISTA" (VITUR) :
<br>- le visa doit être délivré avant le voyage (aucun visa ne sera délivré à l'arrivée);
<br>- les visas sont valables pour des séjours d'un maximum de 3 mois et l'entrée sur le territoire du Brésil doit avoir lieu au plus tard 90 jours après la date d'émission du visa;
<br>- les modalités de délivrance (personnelle/par représentant/ par courrier; durée, coûts, etc.) sont variables selon les pays.

</p>
<p>Il est fortement recommandé de solliciter le visa au moins deux mois avant la date de départ prévue.</p>

	<h2>Article 8 – Exonération de responsabilité </h2>

<p>L’AUF décline toute responsabilité pour les problèmes que pourrait rencontrer un participant qui se rendrait sur le site Internet ou qui contracterait avec un des prestataires dont les coordonnées sont fournies dans la présente fiche d’inscription.
</p>


	<h2>Article 9 – Disposition finale</h2>

<p>Les présentes conditions générales d'inscription peuvent faire l'objet d'un changement à tout moment et sans préavis et peuvent par ailleurs être complétées par d'autres règles établies par la direction exécutive de l'AUF.

</p>
