{% extends "inscription/base.html" %}

{% block extrahead %}

{{ block.super }}
<script type="text/javascript">
$(function() {
    var print_link = $('<a href="#" class="bouton">Imprimer</a>');
    print_link.appendTo('div.buttonHolder').wrap('<div id="Imprimer"/>')
    print_link.click(function() {
        window.print();
        return false;
    });
});
</script>
{% endblock %}

{% block subtitle %}Confirmation de l'inscription{% endblock %}

{% block content %}
<div id="titre">
<h1>Formulaire d'inscription 7/7 - Confirmation</h1>
</div>
 <ul id="etapes">
    {% for etape in etapes %}
    {% if etape.tab_visible %}
        <li{% ifequal etape.n etape_courante.n %} class="etape_courante"{% else %}{% endifequal %}>
        {{ etape.label }}</li>
    {% endif %}
    {% endfor %}
</ul>
<div id="confirmation">
		<h4>Merci d'avoir soumis votre inscription à la 16e Assemblée générale !</h4>
		{% if inscription.est_pour_mandate and not inscriptions_terminees %}
		<p>Vous pouvez maintenant transmettre le formulaire d'inscription à un membre accompagnateur 
		de votre établissement.</p>
    	<div id="bouton_invitation">
        	<a href="#invitation" class="bouton">Invitez vos accompagnateurs</a>
    	</div>
		{% endif %}
</div>
<div style="clear:both"></div>

<form method="post" class="uniForm">

<div id="header_print"><img src="/static/img/logo3.png"></div>

		{% if paypal_cancel %}
		<div class="message erreur">
    	<h4>Votre transaction Paypal a été annulée !</h4>
			<p>Si vous éprouvez des difficultés, n'hésitez pas à nous contacter à l'adresse suivante : 
			<a href="mailto:ag2013@auf.org?subject=AG%202013%20-Formulaire%20en%20ligne%20-%20support-Inscription#%20-{{ inscription.numero }}">ag2013@auf.org</a>.
    	</p>
		</div>
		{% endif %}
		{% if paypal_tx %}
		<div class="message succes">
    	<h4>Votre paiement a été effectué avec succès.</h4>
    	<p>Un accusé de réception électronique vous sera transmis par courriel dans les plus brefs délais. 
			Une facture sera émise lorsque votre participation sera confirmée après vérification des informations 
			fournies dans le formulaire.<br> N'hésitez pas à nous contacter pour toutes questions ou commentaires 
			à l'adresse suivante : 
			<a href="mailto:ag2013@auf.org?subject=AG%202013%20-Formulaire%20en%20ligne%20-%20support%20-Inscription#%20-{{ inscription.numero }}">ag2013@auf.org</a>.
    	</p>
		</div>
		{% endif %}

		<div class="buttonHolder" style="margin: 0;">
    		<div class="PrintMessage">
					{% if inscription.paiement == 'CB' %}
					<p>Veuillez imprimer et conserver une copie du document suivant.</p>
					{% else %}
					<p>Veuillez imprimer une copie à joindre avec la preuve de paiement</p>
				{% endif %}
				</div>
 		</div>
<div id="recap">
  {% if inscription.paiement == 'CB' %}
    	{% if inscription.paiement_paypal_ok %}
    	<h2>Avis de réception - inscription AG2013</h2>
    	{% endif %}

			{% if inscription.etablissement_delinquant %}
			<p class="avertissement">Votre participation vous sera confirmée
			après vérification des informations fournies dans le formulaire et
			du paiement des cotisations dues à l'AUF par votre établissement.
			Merci de bien vouloir communiquer avec le bureau régional le plus
			proche de vous ou à l'adresse courriel
			<a href="mailto:ag2013@auf.org">ag2013@auf.org</a> pour toute question
			à ce sujet.
			</p>
			{% endif %}

			{% else %}
			<h2>Bon de commande inscription AG2013</h2>
  		{% endif %}
			<div id="retour" class="clear">&nbsp;</div>
			<h3>Détails de l'inscription</h3>
   <div class="ctrlHolder">
    <div class="Label">Inscription # :</div>
    <div class="Data">{{ inscription.numero }}</div>
  </div>
  <div class="ctrlHolder">
    <div class="Label">Date :</div>
    <div class="Data">{{ inscription.date_fermeture }}</div>
  </div>
  <div class="ctrlHolder">
    <div class="Label">Option de paiement : </div>
    <div class="Data">{{ inscription.get_paiement_display }}</div>
  </div>
{% if inscription.paiement == 'CB' and inscription.paiement_paypal_ok %}
  <div class="ctrlHolder">
      <div class="Label">Montant reçu :</div>
      <div class="Data">{{ inscription.paiement_paypal_total }} €</div>
  </div>
  <div class="ctrlHolder">
    <div class="Label">Réf Transaction Paiement :</div>
    <div class="Data">{{ inscription.numeros_confirmation_paypal }}</div>
  </div>
{% endif %}
  <div class="ctrlHolder">
    <div class="Label">Total à payer :</div>
    <div class="Data"><strong>{{ inscription.get_montant_a_payer }}&nbsp;€</strong></div>
  </div>
  {% include "inscription/apercu_include.html" %}
</div>
	<div id="conditions_screen" class="indice"> <p><br>* Notez-bien que 
		les <a href="" onclick="javascript:window.open ('../conditions-generales');return false; target:_blank";>
		conditions générales</a> d'inscription seront annexées au document imprimé.</p>
	</div>
	<div id="conditions_print">
  {% include "inscription/modalites_include.html" %}
<hr>
  {% include "inscription/conditions_include.html" %}
	</div>
</form>

<a id="invitation"></a>
<br /><br /><br />
{% if inscription.est_pour_mandate and not inscriptions_terminees %}
<form method="post" class="Invites" action="{% url "ajout_invitations" %}">
<h2>Invitations aux accompagnateurs</h2>
<p>Vous pouvez transmettre le formulaire d'inscription à un membre accompagnateur de votre établissement en indiquant leur adresse électronique. Revenez en tout temps sur cette page pour envoyer d'autres invitations. Le lien vers cette page figure dans votre courriel de confirmation.</p>

{% if inscription.get_invitations_accompagnateurs %}
<div id="accompagnateurs">
<h3>Vos invitations:</h3>
<ul>
{% for invitation in inscription.get_invitations_accompagnateurs %}
    <li>
        <div>{{ invitation.get_adresse }}</div><div class="indice">&nbsp;({% spaceless %}
        {% if invitation.inscription.fermee %}
        <span style="color: #4f720e;">Inscription complétée</span>
        {% else %}
        Invitation envoyée
        {% endif %}){% endspaceless %}</div>
    </li>
{% endfor %}
</ul>
</div>
{% endif %}

{%  csrf_token %}
<fieldset class="inlineLabel">
<label for="liste_adresses"><h4>Saisissez une adresse électronique par ligne</h4></label>
<div class="ctrlHolder">
<textarea id="liste_adresses" rows="8" cols="40" name="liste_adresses"></textarea>
</div>
</fieldset>
<div>
<input type="submit" value="Envoyer les invitations" class="primaryAction" />
</div>
<div style="clear: both;">&nbsp;</div>
</form>

{% endif %}
{% endblock %}
