{% extends "inscription/base.html" %}
{% load inscription %}

{% block langue %}
<div class='selectBox2'>
<div id="google_translate_element"></div>
			<script type="text/javascript">
				function googleTranslateElementInit() {
				  new google.translate.TranslateElement({pageLanguage: 'fr', includedLanguages: 'ar,en,es,fr,pt', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
				}
			</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
{% endblock %}

{% block content %}
<div id="corp">
          

	<h1>Inscriptions</h1>

<h2>Comment s’inscrire à l’Assemblée générale ?</h2>

<p>L’Assemblée générale est <strong>réservée aux membres de l'AUF</strong>. L'inscription se fait uniquement sur invitation. Seul le responsable d'un établissement membre (Recteur, Président ou équivalent) reçoit l'invitation.</p>

<h2>Quelle est la date de limite d’inscription ?</h2>

<p>La date limite pour les inscriptions est le <strong>1<sup>er</sup> mars 2017</strong>.</p>

<h2>L’inscription à l’Assemblée générale est-elle gratuite?</h2>

<p>Des frais fixes d’inscription de 400 euros sont demandés à tout participant.</p>

<h2>Peut-on s’inscrire si son établissement n’est pas à jour de cotisation?</h2>

<p>Seuls les membres à jour de leur cotisation due à l'AUF peuvent participer à l'Assemblée générale.</p>

<h2>Comment annuler une inscription ?</h2>

<p>Pour annuler une inscription, vous devez contacter votre correspondant régional. Les coordonnées se trouvent dans votre dossier du participant.</p>

<p> </p>

<p> </p>



      	</div>
{% endblock %}
