{% extends "inscription/base.html" %}
{% load inscription %}

{% block langue %}
<div class='selectBox2'>
<div id="google_translate_element"></div>
			<script type="text/javascript">
				function googleTranslateElementInit() {
				  new google.translate.TranslateElement({pageLanguage: 'fr', includedLanguages: 'ar,en,es,fr,pt', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
				}
			</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
{% endblock %}

{% block content %}
<h1>Inscription</h1>
<p>La p&eacute;riode d'inscription &agrave; la 16e assembl&eacute;e g&eacute;n&eacute;rale est d&eacute;sormais close. <br>Les participants sont maintenant invit&eacute;s &agrave; s'inscrire aux <a title="Inscription aux ateliers scientifiques ag2013" href="https://ag2013.auf.org/programmation/ateliers-scientifiques/" target="_self">ateliers scientifiques qui se tiendront en parall&egrave;le dans la journ&eacute;e du 7 mai</a></p>
<p>Pour toute question au sujet du suivi d'une inscription transmise pour l'assembl&eacute;e g&eacute;n&eacute;rale, merci d'&eacute;crire &agrave;&nbsp;<a href="mailto:ag2013@auf.org">ag2013@auf.org</a>&nbsp;ou aux correspondants r&eacute;gionaux dont les coordonn&eacute;es sont disponibles &agrave; la question "Qui contacter &agrave; l'AUF?", accessible sur&nbsp;<a href="https://ag2013.auf.org/tout-sur-lag/faq/">https://ag2013.auf.org/tout-sur-lag/faq/</a></p>

<h2>Transports</h2>

<p>Pour bénéficier d'un tarif groupe négocié avec les compagnies Air France et TAM, les participants qui prennent en charge leur billet au départ de Paris peuvent contacter l'agence de voyage Havas Carlson Wagonlit (coordonnées ci-dessous).</p>

<p>Le plan de voyage pour les vols de groupes, au tarif négocié par l'AUF, est le suivant :</p>

<ul>
<li>départ de Paris : le 5 mai (vol de nuit) — arrivée à São Paulo : le 6 mai matin</li>
<li>départ de Paris : le 6 mai matin — arrivée à São Paulo : le 6 mai après-midi</li>
</ul>
<ul>
<li>départ de São Paulo : le 10 mai — arrivée à Paris : le 11 mai</li>
</ul>

<p><strong>Attention : un quota limité de sièges est ouvert à la réservation.</strong></p>

<p>Havas Carlson Wagonlit<br />
5, rue Gallieni<br />
93110 Rosny-sous-Bois<br />
<a href="mailto:ag.ltrosnysousbois@carlsonwagonlit.fr">ag.ltrosnysousbois@carlsonwagonlit.fr</a><br />
Tel : 01 45 28 99 97</p>

<h2>Hébergement</h2>

<p>Les participants dont le séjour est pris en charge par l'AUF seront logés à l'hôtel Holiday Inn São Paulo Parque Anhembi. Leurs accompagnateurs institutionnels, tout comme l'ensemble des participants qui prennent en charge leur séjour, peuvent également être logés dans cet hôtel en effectuant une réservation sur le site : <a href="http://www.holidayinn.com/hotels/fr/fr/sao-paulo/saocc/hoteldetail" target="_blank">http://www.holidayinn.com/hotels/fr/fr/sao-paulo/saocc/hoteldetail</a> et en indiquant « AUF » à la rubrique « code de groupe ».</p>

<p>Par ailleurs, les participants qui souhaiteraient être hébergés dans un des trois hôtels du groupe Golden Tulip (Belas Artes, Park Plaza et Paulista Plaza) dans lesquels l’AUF disposait précédemment de tarifs négociés peuvent toujours le faire, au tarif public, sur le site : <a href="http://www.goldentulip.com/FR/hotels/Bresil/Sao-Paulo/sao-paulo-hotel-booking.aspx" target="_blank">http://www.goldentulip.com/FR/hotels/Bresil/Sao-Paulo/sao-paulo-hotel-booking.aspx</a></p>

<p>Des transports en navettes seront organisés entre le lieu des travaux de l’assemblée générale et ces quatre hôtels (Holiday Inn São Paulo Parque Anhembi, Golden Tulip Belas Artes,Golden Tulip Park Plaza et Golden Tulip Paulista Plaza). </p>

<h2>Excursions du 10 mai 2013</h2>

<p>Plusieurs excursions à São Paulo et dans ses environs sont offertes par la société Almax. Une présentation de ces différentes excursions et les réservations peuvent être effectuées à l'adresse : <a href="http://almax.com.br/compass/citytour/100.html" target="_blank">http://almax.com.br/compass/citytour/100.html</a></p>
{% endblock %}
