{% extends "inscription/base.html" %}
{% load inscription %}
{% block title %}| Formulaire d'inscription - Informations du participant{% endblock %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    function toggle_accompagnateur_fields() {
        //var fields = $('fieldset.accompagnateur .ctrlHolder').not(':has(#id_accompagnateur)');
        var div_fields =$("div#details-accompagnateurs");
        if ($('#id_accompagnateur').is(':checked')) {
            div_fields.show();
        }
        else {
            div_fields.hide();
        }
    }
    $('#id_accompagnateur').change(toggle_accompagnateur_fields);
    toggle_accompagnateur_fields();
});
</script>
{% endblock %}

{% block formulaire %}
<form class="uniForm" method="post">
  {% csrf_token %}

<div class="intro">
  <p><strong>Pour débuter l'inscription, merci de saisir vos renseignements
    personnels.</strong> <br><br>Les champs marqués d'un astérisque (<span
      class="required">*</span>) doivent obligatoirement être remplis.</p>
</div>

  <fieldset class="inlineLabels formulaire">
    <h2>Renseignements personnels</h2>
    
<div class="message">
    Notez que nous avons inséré les informations qui nous ont été communiquées
    sur vous et votre établissement. Veuillez compléter les informations
    manquantes et corriger en cas d'erreur.
  </div>
    
    {% inline_radio form.genre %}
    {% field form.nom %}
    {% field form.prenom %}
    {% field form.poste %}
    {% field form.courriel %}
    {% field form.adresse %}
    {% field form.ville %}
    {% field form.pays %}
    {% field form.code_postal %}
    {% field form.telephone %}
    {% field form.telecopieur %}
  </fieldset>

  <fieldset class="inlineLabels accompagnateur formulaire">
    <h2>Accompagnateur personnel (ex.: conjoint, époux, etc.)</h2>
    {% checkbox form.accompagnateur %}
    <div id="details-accompagnateurs">

      {% if inscription.prise_en_charge_hebergement_possible or inscription.prise_en_charge_transport_possible %}
        <p class="attention">Attention : L'AUF ne pourra prendre en charge ni le transport ni le séjour de votre accompagnateur personnel.</p>
      {% endif %}

      {% inline_radio form.accompagnateur_genre %}
      {% field form.accompagnateur_nom %}
      {% field form.accompagnateur_prenom %}
    </div>
  </fieldset>

  <div class="buttonHolder formulaire">
    <input type="submit" value="Sauvegarder et continuer" class="primaryAction" />
  </div>

</form>
{% endblock %}
