{% extends "inscription/base.html" %}
{% load inscription %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.form.js"></script>
<script type="text/javascript">

$(function() {

    function update_total(responseText) {
      $("#total_frais_inscription").html(responseText);
    }

    function checkbox_changed() {
      $('#form-programmation').ajaxSubmit({
        url: '/inscription/calcul_frais_programmation/',
        type: 'GET',
        success: update_total
      });
    }

    $('.calcul').find('input[type=checkbox]').on('change', checkbox_changed);

    function dependent_checkbox(master, slave) {
        master.change(function() {
            update_dependent_checkbox(master, slave);
        });
        update_dependent_checkbox(master, slave);
    }

    function update_dependent_checkbox(master, slave) {
        if (master.is(':checked')) {
            slave.removeAttr('disabled');
            slave.closest('.ctrlHolder').show();
        }
        else {
            slave.removeAttr('checked');
            slave.attr('disabled', 'disabled');
            slave.closest('.ctrlHolder').hide();
        }
    }

    dependent_checkbox(
        $('#id_programmation_soiree_9_mai'),
        $('#id_programmation_soiree_9_mai_invite')
    );
    dependent_checkbox(
        $('#id_programmation_soiree_10_mai'),
        $('#id_programmation_soiree_10_mai_invite')
    );
    dependent_checkbox(
        $('#id_programmation_gala'),
        $('#id_programmation_gala_invite')
    );
});
</script>
{% endblock %}

{% block formulaire %}
<form id="form-programmation" class="uniForm" method="post">
  {% csrf_token %}
  
  <div class="intro formulaire">
  	<h2>Frais de participation</h2>
  	<div class="ctrlHolder">
    	<div class="prix"><span id="montant_frais_inscription">{{ montant_frais_inscription }}</span>&nbsp;€</div>
		<div class="detail">Frais de 400€ pour tous les participants de l'AG</div>
  	</div>
 </div>
 <div class="formulaire">  
  	<h2>Activités</h2>
  	<p><strong>Veuillez sélectionner les activités que vous souhaitez réserver
    {% if inscription.accompagnateur %} pour vous et votre invité
    {% endif %}.</strong></p>
  	<fieldset class="calcul">

    {% checkbox form.programmation_soiree_9_mai %}
  	</fieldset>
  	<fieldset class="calcul">

    {% checkbox form.programmation_soiree_10_mai %}
	</fieldset>
	<fieldset class="calcul">

    {% checkbox form.programmation_gala %}
	</fieldset>
	<fieldset class="calcul">

    {% checkbox form.programmation_soiree_12_mai %}
	</fieldset>

    {% if inscription.accompagnateur %}

	<p><strong>Forfaits à la carte pour votre accompagnateur
        personnel</strong><br>
        Les accompagnateurs personnels ne peuvent pas assister aux activités 
        associatives, mais peuvent vous accompagner pour certaines activités 
        sociales. Les montants des forfaits sélectionnés seront ajoutés à vos 
        frais de participation.</p>
	<fieldset class="calcul">
        <p></p>
        {% checkbox form.programmation_soiree_9_mai_invite %}
        {% checkbox form.programmation_soiree_10_mai_invite %}
        {% checkbox form.programmation_gala_invite %}
        {% checkbox form.forfait_invite_dejeuners %}
        {% checkbox form.forfait_invite_transfert %}
	</fieldset>
    {% endif %}
	</div>
	<div class="formulaire">
  <h3>Total des frais de participation&nbsp;{% if inscription.accompagnateur %}(2 personnes){% else %}(1 personne){% endif %}:&nbsp;
      <span class="total"><span id="total_frais_inscription">
        {{ total_programmation }}</span>&nbsp;€</span>
  </h3>
  </div>
   <!--  <div class="ctrlHolder">
    <p class="formHint"></p>
  <div class="readOnlyLabel">Ces frais doivent être payés en euros<em> le 15
    février 2013</em> au plus
  tard.</div>
  </div> -->

  <div class="buttonHolder formulaire">
    <input type="submit" value="Sauvegarder et continuer" class="primaryAction" />
  </div>

</form>
{% endblock %}

