{% extends "inscription/base.html" %}
{% load inscription %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">

$(function() {

    var accompagnateur = {{ inscription.accompagnateur|lower }};

    function calcul_frais_inscription() {
        var frais = montants_data.frais_inscription.montant;
        if (accompagnateur)
            frais += montants_data.frais_inscription_invite.montant;
        return frais;
    }

    function itere_sur_controles(fn) {
        // chaque type de montant est représenté par une propriété sur
        // l'objet montants_data défini dans base.html et initialisé
        // par JSON
        for (var member in montants_data) {
            if (!montants_data.hasOwnProperty(member)
                    || typeof(montants_data[member]) === "function"
                    || montants_data[member].nom_champ==undefined) continue;
            var infos_montant = montants_data[member];
            var controle = $("#id_" + infos_montant.nom_champ);
            if (controle)
                fn(controle, infos_montant);
        }

    }

    function calculer_total() {
        var total = calcul_frais_inscription();// + calcul_frais_hotel();
        itere_sur_controles(function(controle, infos_montant) {
            if (
                typeof(infos_montant.valeur_champ) == "boolean"
                && controle.is(":checked")
            )
                total += infos_montant.montant;
        });
        $("span#total_frais_inscriptions").html(total);
    }

    $("span#montant_frais_inscription").html(calcul_frais_inscription());
    //$("span#montant_frais_hotel").html(calcul_frais_hotel());

    calculer_total();

    itere_sur_controles(function(controle, infos_montant) {
        controle.change(function() {
           calculer_total();
        });
    });

    function dependent_checkbox(master, slave) {
        master.change(function() {
            update_dependent_checkbox(master, slave);
        });
        update_dependent_checkbox(master, slave);
    }

    function update_dependent_checkbox(master, slave) {
        if (master.is(':checked')) {
            slave.removeAttr('disabled');
            slave.closest('.ctrlHolder').show();
        }
        else {
            slave.removeAttr('checked');
            slave.attr('disabled', 'disabled');
            slave.closest('.ctrlHolder').hide();
        }
    }

    dependent_checkbox(
        $('#id_programmation_soiree_unesp'),
        $('#id_programmation_soiree_unesp_invite')
    );
    dependent_checkbox(
        $('#id_programmation_soiree_interconsulaire'),
        $('#id_programmation_soiree_interconsulaire_invite')
    );
    dependent_checkbox(
        $('#id_programmation_gala'),
        $('#id_programmation_gala_invite')
    );
});
</script>
{% endblock %}

{% block formulaire %}
<h1>Formulaire d'inscription 3/7 - Programmation</h1>
<ul id="etapes">
    {% for etape in etapes %}
    {% if etape.tab_visible %}
        <li{% ifequal etape.n etape_courante.n %} class="etape_courante"{% else %}{% endifequal %}>
        {{ etape.label }}</li>
    {% endif %}
    {% endfor %}
</ul>
<form class="uniForm" method="post">
  {% csrf_token %}

  <div class="message">
    <p><strong>Les frais d'inscription ne s'appliquent qu'aux participants de
      l'AG</strong></p>
    <ul>
      <li>Transferts aéroport ↔ hôtel (en fonction des vols groupés proposés
        par AUF)</li>
      <li>3 Déjeuners (10, 11 et 12 mai), 3 Dîners (9, 10 et 11 mai), Cocktail
        dînatoire (12 mai), 6 pauses café (10, 11 et 12 mai)</li>
      <li>Trousse du participant contenant tous les documents et accessoires de
        l'AG</li>
      <li>Connexion WIFI</li>
    </ul>

    <p><strong>Veuillez sélectionner les activités que vous souhaitez réserver
      {% if inscription.accompagnateur %} pour vous et votre invité
      {% endif %}.</strong></p>
  </div>
  <h3>Frais d'inscription</h3>

  <div class="ctrlHolder">
    <p class="prix"><span id="montant_frais_inscription">0</span>&nbsp;€</p>

    <div class="detail">(paiement obligatoire)</div>
  </div>
  <p>Les frais d'inscription comprennent aussi les transports des hôtels vers
    les lieux de réunion,
    les repas du midi, les pauses café, la trousse du participant ainsi que les
    soirées organisées.</p>

  <h3>Activités des 7, 8 et 9 mai 2013</h3>
<p class="detail">(Réservation requise)</p>
  <fieldset class="calcul">
	<p></p>
    {% checkbox form.programmation_soiree_unesp %}
    {% if inscription.accompagnateur %}
    {% checkbox form.programmation_soiree_unesp_invite %}
    {% endif %}
  </fieldset>
  <fieldset class="calcul">
    <p></p>
    {% checkbox form.programmation_soiree_interconsulaire %}
    {% if inscription.accompagnateur %}
    {% checkbox form.programmation_soiree_interconsulaire_invite %}
    {% endif %}
  </fieldset>
  <fieldset class="calcul">
    <p></p>
    {% checkbox form.programmation_gala %}
    {% if inscription.accompagnateur %}
    {% checkbox form.programmation_gala_invite %}
    {% endif %}
  </fieldset>

  <h2>Total des frais de participation&nbsp;{% if inscription.accompagnateur %}(2 personnes){% else %}(1 personne){% endif %}:&nbsp;
      <span class="total"><span id="total_frais_inscriptions">0</span>&nbsp;€</span></h2>
   <!--  <div class="ctrlHolder">
    <p class="formHint"></p>
  <div class="readOnlyLabel">Ces frais doivent être payés en euros<em> le 15
    février 2013</em> au plus
  tard.</div>
  </div> -->

  <div class="buttonHolder">
    <input type="submit" value="Sauvegarder et continuer" class="secondaryAction" />
  </div>

</form>
{% endblock %}

