{% extends "inscription/base.html" %}
{% block content %}
<h1>Inscription</h1>
<p>La p&eacute;riode d'inscription &agrave; la 16e assembl&eacute;e g&eacute;n&eacute;rale est d&eacute;sormais close. <br>Les participants sont maintenant invit&eacute;s &agrave; s'inscrire aux <a title="Inscription aux ateliers scientifiques ag2013" href="https://ag2013.auf.org/programmation/ateliers-scientifiques/" target="_self">ateliers scientifiques qui se tiendront en parall&egrave;le dans la journ&eacute;e du 7 mai</a></p>
<p>Pour toute question au sujet du suivi d'une inscription transmise pour l'assembl&eacute;e g&eacute;n&eacute;rale, merci d'&eacute;crire &agrave;&nbsp;<a href="mailto:ag2013@auf.org">ag2013@auf.org</a>&nbsp;ou aux correspondants r&eacute;gionaux dont les coordonn&eacute;es sont disponibles &agrave; la question "Qui contacter &agrave; l'AUF?", accessible sur&nbsp;<a href="https://ag2013.auf.org/tout-sur-lag/faq/">https://ag2013.auf.org/tout-sur-lag/faq/</a></p>

<h2>Transports</h2>

<p>Pour bénéficier d'un tarif groupe négocié avec les compagnies Air France et TAM, les participants qui prennent en charge leur billet au départ de Paris peuvent contacter l'agence de voyage Havas Carlson Wagonlit (coordonnées ci-dessous).</p>

<p>Le plan de voyage pour les vols de groupes, au tarif négocié par l'AUF, est le suivant :</p>

<ul>
<li>départ de Paris : le 5 mai (vol de nuit) — arrivée à São Paulo : le 6 mai matin</li>
<li>départ de Paris : le 6 mai matin — arrivée à São Paulo : le 6 mai après-midi</li>
</ul>
<ul>
<li>départ de São Paulo : le 10 mai — arrivée à Paris : le 11 mai</li>
</ul>

<p><strong>Attention : un quota limité de sièges est ouvert à la réservation.</strong></p>

<p>Havas Carlson Wagonlit<br />
5, rue Gallieni<br />
93110 Rosny-sous-Bois<br />
<a href="mailto:ag.ltrosnysousbois@carlsonwagonlit.fr">ag.ltrosnysousbois@carlsonwagonlit.fr</a><br />
Tel : 01 45 28 99 97</p>

<h2>Hébergement</h2>

<p>Les participants qui prennent en charge leur séjour peuvent réserver une chambre dans un des trois hôtels du groupe Golden Tulip dans lesquels l'AUF a obtenu des tarifs préférentiels. Les réservations peuvent être effectuées sur le site Internet sécurisé de la centrale de réservations de la société Almax à l'adresse : <a href="https://almax.compassreservations.com/compass/external/index.cfm?Meeting_ID=58&Meeting_ID_code=529894856&code=AUF2013" target="_blank">https://almax.compassreservations.com/compass/external/index.cfm</a></p>

<p>Attention, en raison de la forte affluence touristique que connaît la ville de São Paulo, <strong>les tarifs négociés sont garantis jusqu'au 2 février seulement.</strong> Nous vous invitons à effectuer vos réservations le plus tôt possible.</p>

<p>Pour information, les participants dont le séjour est pris en charge par l'AUF seront logés à l'hôtel Holiday Inn São Paulo Parque Anhembi. Les accompagnateurs institutionnels de ces participants qui souhaiteraient être logés dans le même hôtel peuvent effectuer leurs réservations à l'adresse: <a href="http://www.holidayinn.com/hotels/fr/fr/sao-paulo/saocc/hoteldetail" target="_blank">http://www.holidayinn.com/hotels/fr/fr/sao-paulo/saocc/hoteldetail</a></p>

<h2>Excursions du 10 mai 2013</h2>

<p>Plusieurs excursions à São Paulo et dans ses environs sont offertes par la société Almax. Une présentation de ces différentes excursions et les réservations peuvent être effectuées à l'adresse : <a href="http://almax.com.br/compass/citytour/100.html" target="_blank">http://almax.com.br/compass/citytour/100.html</a></p>
{% endblock %}
