{% extends "inscription/base.html" %}
{% block content %}
<h1>Inscription</h1>
<p>La p&eacute;riode d'inscription &agrave; la 17e assembl&eacute;e g&eacute;n&eacute;rale est d&eacute;sormais close. </p>
<p>Pour toute question au sujet du suivi d'une inscription transmise pour l'assembl&eacute;e g&eacute;n&eacute;rale, merci d'&eacute;crire &agrave;&nbsp;<a href="mailto:ag2017@auf.org">ag2017@auf.org</a>&nbsp;ou aux correspondants r&eacute;gionaux dont les coordonn&eacute;es sont disponibles &agrave; la question "Qui contacter &agrave; l'AUF?", accessible sur&nbsp;<a href="https://ag2013.auf.org/tout-sur-lag/faq/">https://ag2013.auf.org/tout-sur-lag/faq/</a></p>
{% endblock %}
