{% extends "inscription/base.html" %}
{% load inscription %}
{% block title %}| Formulaire d'inscription - Informations de séjour{% endblock %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
$(function() {
    $('input.date').datepicker({defaultDate: '01/05/2013'});
});
</script>
{% endblock %}

{% block diapo %}
<script>
$(function() {

    $('#hebergement_accompagnateur').appendTo($('#id_prise_en_charge_hebergement_0').closest('li'));

    function dependent_control(master, slave) {
        if (master.length && slave.length) {
            master.change(function() {
                update_dependent_control(master, slave);
            });
            update_dependent_control(master, slave);
        }
    }

    function update_dependent_control(master, slave) {
        if (master.is(':checked')) {
            slave.show();
        }
        else {
            slave.hide();
        }
    }


    dependent_control(
            $('#id_prise_en_charge_hebergement_0'),
            $('#hebergement_accompagnateur')
    );
    dependent_control(
            $('#id_prise_en_charge_transport_0'),
            $('p#avertissement_transport_accompagnateur')
    );


    // verrue car l'évènement change n'est pas déclenché lorsqu'un radio
    // est déselectionné...
    $('#id_prise_en_charge_transport_1').change(function() {
        update_dependent_control(
                $('#id_prise_en_charge_transport_0'),
                $('#avertissement_transport_accompagnateur')
        );
    });
    $('#id_prise_en_charge_hebergement_1').change(function() {
        update_dependent_control(
                $('#id_prise_en_charge_hebergement_0'),
                $('#hebergement_accompagnateur')
        );
    });
});
</script>
{% endblock %}

{% block formulaire %}
<h1>Formulaire d'inscription | 17<sup style="text-transform: none;">e</sup> AG - 
    10, 11 et 12 mai 2017, Marrakech, Maroc</h1>
 <ul id="etapes">
    {% for etape in etapes %}
    {% if etape.tab_visible %}
        <li{% ifequal etape.n etape_courante.n %} class="etape_courante"{% else %}{% endifequal %}>
        {{ etape.label }}</li>
    {% endif %}
    {% endfor %}
</ul>
<form class="uniForm" method="post">
  {% csrf_token %}

<div class="intro">
  <p><strong>Pour poursuivre l'inscription, merci de saisir vos informations de séjour.</strong></p>
</div>

    <!-- Bloc Prise en charge -->
{% if inscription.prise_en_charge_hebergement_possible %}
  <div class="formulaire">
    <h2>Prise en charge des frais d'hébergement</h2>

    <p>La prise en charge des frais d'hébergement est réservée exclusivement
      au représentant mandaté d'un établissement membre titulaire ou associé du
      Sud qui en fait la demande.</p>

    <p>L'AUF se réserve le droit d'accepter ou de refuser une demande
      de prise en charge. Si elle est acceptée, l'AUF fixe les modalités de
      séjour du participant.</p>
    <p>Notez que les petits-déjeuner sont inclus.</p>

    <fieldset>
      {% field form.prise_en_charge_hebergement %}
    </fieldset>
    {% if inscription.accompagnateur %}
      <div id="hebergement_accompagnateur" class="attention">
      <strong>Supplément pour accompagnateur personnel 30€</strong> (incluant les petits-déjeuners)
      </div>
    {% endif %}
  </div>

{% endif %}
  <!-- Section transport -->
{% if inscription.prise_en_charge_transport_possible %}
  <div class="formulaire">
  <h2>Transport</h2>
	<h3>Prise en charge des frais de transport</h3>
  <p>La prise en charge des frais de transport international et des frais de
      séjour est réservée exclusivement au représentant mandaté d'un établissement
      membre titulaire du Sud qui en fait la demande. </p>
  <p>L'AUF se réserve le droit d'accepter ou de refuser une demande de prise en charge. </p>
  <p>Si elle est acceptée, l'AUF fixe les modalités de voyage et de séjour du participant.</p>

  <fieldset>
    {% field form.prise_en_charge_transport %}
    {% if inscription.accompagnateur %}
      <div id="avertissement_transport_accompagnateur" class="attention">
        <span style="font-weight:bold; color:#A90F30;">Attention :</span> L'AUF ne pourra pas prendre en charge le transport de votre invité,
        il lui appartient d'effectuer la réservation de son titre de transport.</div>
    {% endif %}
  </fieldset>
  </div>
{% endif %}
  <div class="buttonHolder formulaire">
    <input type="submit" value="Sauvegarder et continuer" class="primaryAction" />
  </div>

</form>
{% endblock %}
