{% extends "inscription/base.html" %}
{% load inscription %}
{% block title %} | Formulaire d'inscription - Informations de séjour{% endblock %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
$(function() {
    $('input.date').datepicker({defaultDate: '01/05/2017'});
});
</script>
{% endblock %}

{% block diapo %}
<script>
$(function() {

    $('#hebergement_accompagnateur').appendTo($('#id_prise_en_charge_hebergement_0').closest('li'));

    function dependent_control(master, slave) {
        if (master.length && slave.length) {
            master.change(function() {
                update_dependent_control(master, slave);
            });
            update_dependent_control(master, slave);
        }
    }

    function update_dependent_control(master, slave) {
        if (master.is(':checked')) {
            slave.show();
        }
        else {
            slave.hide();
        }
    }


    dependent_control(
            $('#id_prise_en_charge_hebergement_0'),
            $('#hebergement_accompagnateur')
    );
    dependent_control(
            $('#id_prise_en_charge_transport_0'),
            $('p#avertissement_transport_accompagnateur')
    );


    // verrue car l'évènement change n'est pas déclenché lorsqu'un radio
    // est déselectionné...
    $('#id_prise_en_charge_transport_1').change(function() {
        update_dependent_control(
                $('#id_prise_en_charge_transport_0'),
                $('#avertissement_transport_accompagnateur')
        );
    });
    $('#id_prise_en_charge_hebergement_1').change(function() {
        update_dependent_control(
                $('#id_prise_en_charge_hebergement_0'),
                $('#hebergement_accompagnateur')
        );
    });
});
</script>
{% endblock %}

{% block formulaire %}
<form class="uniForm" method="post">
  {% csrf_token %}
    <!-- Bloc Prise en charge -->
{% if inscription.prise_en_charge_hebergement_possible %}
  <div class="formulaire">
    <h2>Prise en charge des frais d'hébergement</h2>
	<div class="message">
    <p>La prise en charge des frais d'hébergement est réservée exclusivement
      au représentant mandaté d'un établissement membre titulaire ou associé du
      Sud qui en fait la demande.</p>

    <p>L'AUF se réserve le droit d'accepter ou de refuser une demande
      de prise en charge. Si elle est acceptée, l'AUF fixe les modalités de
      séjour du participant.</p>
	</div>
    <fieldset>
      {% field form.prise_en_charge_hebergement %}
    </fieldset>
    {% if inscription.accompagnateur %}
      <div id="hebergement_accompagnateur" class="attention">
      <strong>Occupation double :</strong> Supplément de <strong>30€</strong> 
      pour votre accompagnateur personnel (incluant les petits-déjeuners).
      </div>
    {% endif %}
  </div>

{% endif %}
  <!-- Section transport -->
{% if inscription.prise_en_charge_transport_possible %}
  <div class="formulaire">
  <h2>Prise en charge des frais de transport</h2>
	<div class="message">
  	<p>La prise en charge des frais de transport international est réservée 
  	exclusivement au représentant mandaté d'un établissement
      membre titulaire du Sud qui en fait la demande. </p>
  	<p>L'AUF se réserve le droit d'accepter ou de refuser une demande de prise 
  	en charge. Si elle est acceptée, l'AUF fixe les modalités de voyage et de 
  	séjour du participant.</p>
	</div>
  <fieldset>
    {% field form.prise_en_charge_transport %}
    {% if inscription.accompagnateur %}
      <div id="avertissement_transport_accompagnateur" class="attention">
        <span class="important">Attention :</span> L'AUF 
        ne pourra pas prendre en charge le transport de votre invité, il lui 
        appartient d'effectuer la réservation de son titre de transport.</div>
    {% endif %}
  </fieldset>
  </div>
{% endif %}
  <div class="buttonHolder formulaire">
    <input type="submit" value="Sauvegarder et continuer" class="primaryAction" />
  </div>

</form>
{% endblock %}
