{% extends "elections/base_listes.html" %}

{% block titre %}
  {{ nom_election }}<br>
{% endblock %}
{% block soustitre %}
  {{ nb_sieges_total }} siège{{ nb_sieges_total|pluralize }}
{% endblock %}

{% block tables %}
  <div class="grille-nb-feuilles">
    <table id="pages">
      <tr>
        <td>Feuille #</td>
        <td><br/><br/></td>
      </tr>
      <tr>
        <td>Nb. Total Feuilles</td>
        <td></td>
      </tr>
    </table>
  </div>

<div class="table-depouillement">
{% block table_depouillement %}
{% endblock %}
</div>
{% endblock %}
