<p>
{% ifequal code_region "MO" %}
  Agence universitaire de la Francophonie<br/>
  Bureau Moyen-Orient<br/>
  B.P. 11-81 - Riad El Solh<br/>
  Beyrouth 1107 2280<br/>
  Liban<br/>
{% endifequal %}
{% ifequal code_region "ECO" %}
  Agence universitaire de la Francophonie<br/>
  Bureau Europe centrale et orientale<br/>
  1, Boulevard Schitu Magureanu<br/>
  Mezzanine 050025 Bucarest<br/>
  Roumanie<br/>
{% endifequal %}
{% ifequal code_region "EO" %}
  Agence universitaire de la Francophonie<br/>
  Bureau Europe de l'Ouest - Pôle de développement<br/>
  Boulevard Baudouin, 12<br/>
  6<sup>e</sup> étage C/O Espace Wallonie Bruxelles International<br/>
  1000 Bruxelles<br/>
  Belgique
{% endifequal %}
{% ifequal code_region "M" %}
  Agence universitaire de la Francophonie<br/>
  Bureau Maghreb<br/>
  B.P. 8962<br/>
  Agdal 10100 Rabat<br/>
  Maroc
{% endifequal %}
{% ifequal code_region "C" %}
  Agence universitaire de la Francophonie<br/>
  Bureau Caraïbe<br/>
  51, rue Dufort, Bois Verna -<br/>
  BP 15185 Pétion-Ville<br/>
  HT-6114 Port-au-Prince<br/>
  Haïti
{% endifequal %}
{% ifequal code_region "A" %}
  Agence universitaire de la Francophonie<br/>
  Bureau des Amériques - Pôle de développement<br/>
  49714 Csp du Musée<br/>
  Montréal, QC, H3T 2A5<br/>
  Canada
{% endifequal %}
{% ifequal code_region "OI" %}
  Agence universitaire de la Francophonie<br/>
  Bureau Océan indien<br/>
  7, rue Joël Rakotomalala Faravohitra<br/>
  B.P. 8349<br/>
  101 Antananarivo<br/>
  Madagascar<br/>
{% endifequal %}
{% ifequal code_region "AP" %}
  Agence universitaire de la Francophonie<br/>
  Bureau Asie-Pacifique
  21, rue Lê Thanh Tông
  Hanoi
  Viet Nam
{% endifequal %}
{% ifequal code_region "ACGL" %}
  Agence universitaire de la Francophonie<br/>
  Bureau Afrique Centrale et des Grands Lacs<br/>
  B.P. 8114<br/>
  Yaoundé - Cameroun
{% endifequal %}
{% ifequal code_region "AO" %}
  Agence universitaire de la Francophonie<br/>
  Bureau Afrique de l'Ouest<br/>
  B.P. 10017<br/>
  Dakar-Liberté<br/>
  Sénégal
{% endifequal %}
</p>
